_*
bin
obj
*.suo
*.user
*.cache
*.dbmdl
debug
release
.svn
BuildResults.xml
*.results.xml
test-results.html
.tfs-ignore
*.orig
.hg
*.nupkg
RequestReduce/Nuget/Lib/*
RequestReduce.SampleWeb/RRContent/*
PrecompiledWeb/*
TraceOutput.log
*.sdf
*.zip
*.dgml
RequestReduce/Nuget/Content/App_Readme/RequestReduce.readme.txt
RequestReduce/Nuget/pngoptimization
*.userprefs
*.pidb
*.vsp
*.psess
*.log
vstest
App_Readme