_*
bin
obj
*.suo
*.user
*.cache
*.dbmdl
debug
release
.svn
BuildResults.xml
*.results.xml
test-results.html
.tfs-ignore
*.orig
.hg
RequestReduce/Nuget/Lib/*
RequestReduce.SqlServer/Nuget/Lib/*
RequestReduce.SassLessCoffee/Nuget/Lib/*
RRContent
RequestReduce.SampleWeb/RequestReduceContent/*
PrecompiledWeb/*
TraceOutput.log
*.zip
*.dgml
RequestReduce/Nuget/Content/App_Readme/RequestReduce.readme.txt
RequestReduce/Nuget/pngoptimization
*.userprefs
*.pidb
*.vsp
*.psess
*.log
vstest
App_Readme
BuildFiles
TestResults
Packages
*.sdf