<?xml version="1.0" encoding="utf-8"?>
<!-- -->
<configuration>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off" />
    <trust level="Medium" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RequestReduce" type="RequestReduce.Module.RequestReduceModule, RequestReduce" />
    </modules>
    <caching enabled="false" enableKernelCache="false" />
  </system.webServer>
</configuration>