<?xml version="1.0" encoding="utf-8"?>
<!-- -->
<configuration>
  <configSections>
    <section name="RequestReduce" type="RequestReduce.Configuration.RequestReduceConfigSection, RequestReduce" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RRConnection" connectionString="Data Source=|DataDirectory|RequestReduce.sdf;Version=3;New=True" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <RequestReduce spriteVirtualPath="~/RRContent" connectionStringName="RRConnection" authorizedUserList="anonymous" contentStore="LocalDiskStore" storePollInterval="-1" />
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off" />
    <trust level="Medium" originUrl="http://localhost:8878/.*" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RequestReduce" type="RequestReduce.Module.RequestReduceModule, RequestReduce" />
    </modules>
    <caching enabled="false" enableKernelCache="false" />
  </system.webServer>
</configuration>