<?xml version="1.0" encoding="utf-8"?>
<!-- -->
<configuration>
  <configSections>
    <section name="RequestReduce" type="RequestReduce.Configuration.RequestReduceConfigSection, RequestReduce" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RRConnection" connectionString="data source=|DataDirectory|RequestReduce35.sdf" providerName="System.Data.SqlServerCe.3.5" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5" />
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <RequestReduce spriteVirtualPath="~/RRContent" connectionStringName="RRConnection" authorizedUserList="anonymous" contentStore="SqlServerStore" storePollInterval="60000" />
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off" />
    <trust level="Medium" originUrl="http://localhost:8878/.*" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RequestReduce" type="RequestReduce.Module.RequestReduceModule, RequestReduce" />
    </modules>
    <caching enabled="false" enableKernelCache="false" />
  </system.webServer>
</configuration>