.RatingStar
{
    background: url('http://localhost:8877/images/Star.png') no-repeat;
    width: 18px;
    height: 18px;
}

.Up
{
    background: url('http://localhost:8877/images/up.png') no-repeat;
    width: 40px;
    height: 40px;
}