<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1">

    <meta name="description" content="" />



    <link rel="shortcut icon" href="http://mwrock1.redmond.corp.microsoft.com/GlobalResources/images/Technet/favicon.ico" type="image/x-icon" /> <link type="text/css" rel="Stylesheet" href="http://mwrock1.redmond.corp.microsoft.com/GlobalResources/styles/Technet.css?cver=0001" /><meta name="CommunityInfo" content=" B=Technet;A=Gallery::TechNet;L=en-US;" />

    <script src="http://code.jquery.com/jquery-1.6.1.min.js" type="text/javascript" language="javascript"></script>

    

    <title>TechNet Gallery</title>

    <link href="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/Galleries.css?v=2011.3.26.0" type="text/css" rel="Stylesheet" /><link href="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/Layout.css?v=2011.3.26.0" type="text/css" rel="Stylesheet" /><link href="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Technet/Brand.css?v=2011.3.26.0" type="text/css" rel="Stylesheet" /><script src="/technet/Content/Common/common.js?v=2011.3.26.0" type="text/javascript">



</script><script src="/technet/Content/Common/FileManager.js?v=2011.3.26.0" type="text/javascript">



</script><script src="/technet/Content/Common/TagAutoComplete.js?v=2011.3.26.0" type="text/javascript">



</script>

    <link href="http://mwrock1.redmond.corp.microsoft.com/technet/site/feeds/searchRss" rel="Alternate" type="application/rss+xml"

        title="TechNet Gallery" />

    <link rel="P3Pv1" href="/W3C/p3p.xml" />

    

<script type="text/javascript" src="http://Ads.msn-int.com/library/dap.js"></script>



    <link id="rssSearchLink" rel="alternate" type="application/rss+xml" href="http://mwrock1.redmond.corp.microsoft.com/technet/site/feeds/search?sortBy=Popularity" title="Visual Studio Gallery Search Feed" />



</head>

<body class="Chrome" dir= "ltr">

    <form method="post" action="technet" id="Form1">

<div class="aspNetHidden">

<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTY0MzM1NzE1M2RkVPip+cB3lziVObHAe+t3IdS4RtY=" />

</div>



    </form>

    <div id="BodyBackground" class="ltr">

        <div id="JelloSizer">    

            <div id="JelloExpander">

                <div id="JelloWrapper">

                    <div class="Clear"> </div>

                    

                    <div class="Masthead">

                        

                        <div id="BrandLogo" class="BrandLogo"><a class="BrandLogoLink" href="http://technet.microsoft.com/en-us/ms376608.aspx"><span id="BrandDisplayText">Resources for IT Professionals</span></a></div>

                                 

                        <div class="Search">

                            <div id="SearchBox" class="SearchBox"><input name="SearchTextBox" type="text" id="SearchTextBox" class="TextBoxSearch TextBoxSearchIE7" /><input type="image" name="SearchButton" id="SearchButton" class="SearchButton" src="http://mwrock1.redmond.corp.microsoft.com/globalresources/Images/trans.gif" /><span class="Bing"> </span></div>

                        </div>



                        <div class="GlobalBar">                       

                            <div class="PassportScarab">

                            <a id="idPPScarab" href="https://login.live-int.com/login.srf?wa=wsignin1.0&wtrealm=mwrock1.redmond.corp.microsoft.com&wreply=https%3a%2f%2fmwrock1.redmond.corp.microsoft.com%2ftechnet%3fstoAI%3d10&wp=MBI_FED_SSL&wlcxt=Technet%24Technet%24Technet">Sign in</a>

                            </div> 

                                

                            <div id="LocaleFlyout" class="LocaleFlyout">

                                <div id="LocaleSelector">

                    <div id="TargetPanel">

                        <a>United States (English)</a><span class="DropDownArrow">&nbsp;</span>

                    </div>

                    <div id="PopupPanel" class="ContextMenuPanel">

                        <a href="http://mwrock1.redmond.corp.microsoft.com/technet/?localeName=es-AR" class="ContextMenuItem" rel="nofollow">Argentina (Español)</a><a href="http://mwrock1.redmond.corp.microsoft.com/technet/?localeName=pt-BR" class="ContextMenuItem" rel="nofollow">Brasil (Português)</a><a href="http://mwrock1.redmond.corp.microsoft.com/technet/?localeName=de-DE" class="ContextMenuItem" rel="nofollow">Deutschland (Deutsch)</a><a href="http://mwrock1.redmond.corp.microsoft.com/technet/?localeName=es-ES" class="ContextMenuItem" rel="nofollow">España (Español)</a><a href="http://mwrock1.redmond.corp.microsoft.com/technet/?localeName=fr-FR" class="ContextMenuItem" rel="nofollow">France (Français)</a><a href="http://mwrock1.redmond.corp.microsoft.com/technet/?localeName=it-IT" class="ContextMenuItem" rel="nofollow">Italia (Italiano)</a><a href="http://mwrock1.redmond.corp.microsoft.com/technet/?localeName=ru-RU" class="ContextMenuItem" rel="nofollow">Россия (Русский)</a><a href="http://mwrock1.redmond.corp.microsoft.com/technet/?localeName=ko-KR" class="ContextMenuItem" rel="nofollow">대한민국 (한국어)</a><a href="http://mwrock1.redmond.corp.microsoft.com/technet/?localeName=zh-CN" class="ContextMenuItem" rel="nofollow">中华人民共和国 (中文)</a><a href="http://mwrock1.redmond.corp.microsoft.com/technet/?localeName=ja-JP" class="ContextMenuItem" rel="nofollow">日本 (日本語)</a>

                    </div>

                 </div>

                 <script language="javascript" type="text/javascript">
                     $(function () {
                         var targetPanel = $("div#TargetPanel");
                         var popupPanel = $("div#PopupPanel");
                         var speed = 0;

                         positionPopup = function () {
                             var outerPanel = $("div#LocaleFlyout");

                             if (outerPanel.length == "0") {
                                 outerPanel = $("div#LocaleSelector");
                             }
                             popupPanel.css("left", outerPanel.position().left - (popupPanel.outerWidth() - outerPanel.outerWidth()));
                             popupPanel.css("top", outerPanel.position().top + outerPanel.outerHeight());
                         }

                         showPanel = function () {
                             positionPopup();
                             popupPanel.show(speed);
                         }

                         hidePanel = function (event) {
                             if (event != undefined) {
                                 popupPanel.hide(speed);
                             }
                         }

                         hidePopUpIfVisible = function () {
                             if (popupPanel.css("display") == "block") {
                                 targetPanel.click();
                             }
                         }

                         var doc = $(document);
                         doc.click(hidePopUpIfVisible);
                         $(window).resize(hidePanel);

                         // setup
                         popupPanel.hide(speed);
                         targetPanel.toggle(showPanel, hidePanel);

                     });

</script>

                            </div>

                            

                            <div class="Clear"> </div>



                            

                            <div class="UserName" id="UserName"><a id="ctl01_UserNameLink"></a></div>

                             



                        </div>

                    

                        <div class="Clear"> </div>



                        <div id="NetworkTagLineArea" class="NetworkLogo">

                            <a id="NetworkLink" href="http://Technet.microsoft.com/en-US">

                                <img id="NetworkTaglineLogo" src="http://mwrock1.redmond.corp.microsoft.com/GlobalResources/Images/Technet/networklogo_Technet.png" />

                            </a>

                        </div>



                        <div class="leftcap" xmlns:msxsl="urn:schemas-microsoft-com:xslt"> </div><div class="internav" xmlns:msxsl="urn:schemas-microsoft-com:xslt"><a href="http://technet.microsoft.com/en-us/ms376608.aspx">Home</a><a href="http://technet.microsoft.com/en-us/library/default.aspx">Library</a><a href="http://social.technet.microsoft.com/wiki ">Wiki</a><a href="http://technet.microsoft.com/en-us/bb291022.aspx">Learn</a><a href="http://technet.microsoft.com/en-us/bb403698.aspx">Downloads</a><a href="http://technet.microsoft.com/en-us/ms772425.aspx">Support</a><a href="http://social.technet.microsoft.com/Forums/en-us/categories/">Forums</a><a href="http://blogs.technet.com">Blogs</a></div>

                    </div>

                     

    

<div class="LocalNavigation">

    <div id="LocalNav" class="HeaderTabs">

        <div class="TabOff">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/">Gallery Home</a>

        </div>

        <div class="TabOff">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/mydashboard">My Contributions</a>

        </div>

        <div class="TabOff">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/favorites">My Favorites</a>

        </div>

        <div class="TabOff">

            <a id="notificationLink" href="http://mwrock1.redmond.corp.microsoft.com/technet/site/notifications">

                My Notifications

            </a>

        </div>

        

        <div class="TabOff">

            <a href="mailto:tngfeedback@microsoft.com">Feedback</a>

        </div>

    </div>

</div>



                    

                    <div class="Clear"> </div>

                          

                    <div class="topleftcorner"></div>           

                    <div class="toprightcorner"></div>                                

                    <div class="alley"> <!-- Left Side -->

                        <div class="wrapper"> <!-- Right Side -->

                            <div class="inner">  

                            

                                                 

                                <div class="Clear"></div>   





                                

                                

                                

                                

                                <div id="MainContent" class="Technet">

                                    

    

    



    <script language="javascript" type="text/javascript">
        $(function () { Galleries.cookie.setTimezoneOffsetCookie(); })

    </script>



    <div id="container">

            

            <div id="subHeader">

                <div id="eyebrow" class="left">

                    









<div class="EyebrowContainer">

    

    <a href=http://technet.microsoft.com/en-US/>

        Home

    </a> 

    <text>&gt;</text>



    

        <span class="EyebrowElement">Samples</span>



</div>

                </div>

            </div>

            <div class="clear">

            </div>

        

        

<div class="subMenu">

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('.internav > a').each(function (index, elem) {
            if ($(elem).attr('href').toUpperCase().indexOf('CODE') != -1) {
                $(elem).addClass('active');
            }
            if ($(elem).attr('href').toUpperCase().indexOf('SMPGDB') != -1) {
                $(elem).addClass('active');
            }

        });
    });

</script>

   <h1>TechNet Gallery <span class="betaLabel">beta</span></h1>

</div>      

        <div class="clear"></div>



        <div id="bodyContainer">

            



    <div id="searchPage">

         <div id="sideNav">

             <div id="sideNavHeader" > 

                <a href="&#47;technet&#47;site&#47;search">Clear</a>

                <h2>Scope Results</h2>      

             </div>

            



<div class="section">

    <h3>Categories</h3>

    <ul>

    

        <li class="unselected" onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dRootCategory\x26f\x255B0\x255D.Value\x3dApp-V\x26f\x255B0\x255D.Text\x3dApp-V'">

            <div class="itemCount">18</div>

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=RootCategory&f%5B0%5D.Value=App-V&f%5B0%5D.Text=App-V">App-V</a>

            <ul id="subCategoryList">

                

            </ul>

        </li>

    

        <li class="unselected" onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dRootCategory\x26f\x255B0\x255D.Value\x3dExchange\x26f\x255B0\x255D.Text\x3dExchange'">

            <div class="itemCount">24</div>

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=RootCategory&f%5B0%5D.Value=Exchange&f%5B0%5D.Text=Exchange">Exchange</a>

            <ul id="subCategoryList">

                

            </ul>

        </li>

    

        <li class="unselected" onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dRootCategory\x26f\x255B0\x255D.Value\x3dOffice\x26f\x255B0\x255D.Text\x3dOffice'">

            <div class="itemCount">0</div>

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=RootCategory&f%5B0%5D.Value=Office&f%5B0%5D.Text=Office">Office</a>

            <ul id="subCategoryList">

                

            </ul>

        </li>

    

        <li class="unselected" onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dRootCategory\x26f\x255B0\x255D.Value\x3dSystemCenter\x26f\x255B0\x255D.Text\x3dSystem\x2520Center'">

            <div class="itemCount">18</div>

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=RootCategory&f%5B0%5D.Value=SystemCenter&f%5B0%5D.Text=System%20Center">System Center</a>

            <ul id="subCategoryList">

                

            </ul>

        </li>

    

    </ul>

</div>



<div class="section">



    <h3>Tags</h3>

    <ul>

    

            <li onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dTag\x26f\x255B0\x255D.Value\x3dEHLO'">

                <div class="itemCount">24</div>

                <div class="itemText"><a href="&#47;technet&#47;site&#47;search&#63;f&#37;5B0&#37;5D.Type&#61;Tag&#38;f&#37;5B0&#37;5D.Value&#61;EHLO">EHLO</a></div>

            </li>

        

            <li onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dTag\x26f\x255B0\x255D.Value\x3dExchange'">

                <div class="itemCount">24</div>

                <div class="itemText"><a href="&#47;technet&#47;site&#47;search&#63;f&#37;5B0&#37;5D.Type&#61;Tag&#38;f&#37;5B0&#37;5D.Value&#61;Exchange">Excha<wbr />nge</a></div>

            </li>

        

            <li onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dTag\x26f\x255B0\x255D.Value\x3dExchange\x2520Server'">

                <div class="itemCount">21</div>

                <div class="itemText"><a href="&#47;technet&#47;site&#47;search&#63;f&#37;5B0&#37;5D.Type&#61;Tag&#38;f&#37;5B0&#37;5D.Value&#61;Exchange&#37;20Server">Excha<wbr />nge Serve<wbr />r</a></div>

            </li>

        

            <li onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dTag\x26f\x255B0\x255D.Value\x3dApp-V\x25204.6\x2520SP1'">

                <div class="itemCount">16</div>

                <div class="itemText"><a href="&#47;technet&#47;site&#47;search&#63;f&#37;5B0&#37;5D.Type&#61;Tag&#38;f&#37;5B0&#37;5D.Value&#61;App-V&#37;204.6&#37;20SP1">App-V 4.6 SP1</a></div>

            </li>

        

            <li onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dTag\x26f\x255B0\x255D.Value\x3dExchange\x2520Server\x25202007'">

                <div class="itemCount">12</div>

                <div class="itemText"><a href="&#47;technet&#47;site&#47;search&#63;f&#37;5B0&#37;5D.Type&#61;Tag&#38;f&#37;5B0&#37;5D.Value&#61;Exchange&#37;20Server&#37;202007">Excha<wbr />nge Serve<wbr />r 2007</a></div>

            </li>

        

            <li onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dTag\x26f\x255B0\x255D.Value\x3dExchange\x2520Server\x25202010'">

                <div class="itemCount">10</div>

                <div class="itemText"><a href="&#47;technet&#47;site&#47;search&#63;f&#37;5B0&#37;5D.Type&#61;Tag&#38;f&#37;5B0&#37;5D.Value&#61;Exchange&#37;20Server&#37;202010">Excha<wbr />nge Serve<wbr />r 2010</a></div>

            </li>

        

            <li onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dTag\x26f\x255B0\x255D.Value\x3dOpalis'">

                <div class="itemCount">8</div>

                <div class="itemText"><a href="&#47;technet&#47;site&#47;search&#63;f&#37;5B0&#37;5D.Type&#61;Tag&#38;f&#37;5B0&#37;5D.Value&#61;Opalis">Opali<wbr />s</a></div>

            </li>

        

            <li onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dTag\x26f\x255B0\x255D.Value\x3dService\x2520Manager'">

                <div class="itemCount">8</div>

                <div class="itemText"><a href="&#47;technet&#47;site&#47;search&#63;f&#37;5B0&#37;5D.Type&#61;Tag&#38;f&#37;5B0&#37;5D.Value&#61;Service&#37;20Manager">Servi<wbr />ce Manag<wbr />er</a></div>

            </li>

        

            <li onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dTag\x26f\x255B0\x255D.Value\x3dMailbox\x2520Server\x2520Role'">

                <div class="itemCount">5</div>

                <div class="itemText"><a href="&#47;technet&#47;site&#47;search&#63;f&#37;5B0&#37;5D.Type&#61;Tag&#38;f&#37;5B0&#37;5D.Value&#61;Mailbox&#37;20Server&#37;20Role">Mailb<wbr />ox Serve<wbr />r Role</a></div>

            </li>

        

            <li onclick="window.location.href = '\x2ftechnet\x2fsite\x2fsearch\x3ff\x255B0\x255D.Type\x3dTag\x26f\x255B0\x255D.Value\x3dManagement\x2520Pack'">

                <div class="itemCount">5</div>

                <div class="itemText"><a href="&#47;technet&#47;site&#47;search&#63;f&#37;5B0&#37;5D.Type&#61;Tag&#38;f&#37;5B0&#37;5D.Value&#61;Management&#37;20Pack">Manag<wbr />ement Pack</a></div>

            </li>

        

    </ul>



</div>

        </div>

        <div id="extraActions">

            





<div class="section" id="contributeSection">

    <h3>Contribute</h3>

    





<div>

    <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/upload"><img src="/technet/Content/TechNet/UploadIcon.png" alt="upload" /></a>

    <div>

        <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/upload">Upload a contribution</a>

        <div>Upload a contribution to the TechNet Gallery</div>

    </div>

</div>

    <div>

        <a href="mailto:tngfeedback@microsoft.com"><img src="/technet/Content/TechNet/FeedbackIcon.png" alt="feedback" /></a>

        <div>

            <a href="mailto:tngfeedback@microsoft.com">Send us Feedback</a>

            <div>Help us improve the TechNet Gallery</div>

        </div>

    </div>

</div>





            <div class="advertisment section">

                <div id="Rectangle300">

	<div id="a6d66c90-bb32-48e5-92bc-adb16b788ebd" name="a6d66c90-bb32-48e5-92bc-adb16b788ebd" align="center" style="margin:auto;" class="AdWidthFix"></div><script type="text/javascript">	                                                                                                                                                            dapMgr.enableACB("a6d66c90-bb32-48e5-92bc-adb16b788ebd", false); dapMgr.renderAd("a6d66c90-bb32-48e5-92bc-adb16b788ebd", "&PG=CMSTGA&AP=1089", 300, 250);</script>

</div>



            </div>

            

<div class="section" id="editorPicksSection">

    <h3>Editor Picks</h3>

    <ul>

    </ul>

</div>

        </div>

        <div id="mainContentContainer">

            <div id="mainContent">

                <div id="legalDisclaimer">Each contribution is licensed to you under a License Agreement by its owner, not Microsoft. Microsoft does not guarantee the contribution or purport to grant rights to it.</div>

                





<script type="text/javascript" language="javascript">
    $(function () {
        setAutoComplete();
    });

    function ProcessWatermark(form, watermark) {
        var textFiled = $("input[type=text]", form)
        if (textFiled.val() == watermark) {
            textFiled.val('');
        }
    }

    function setAutoComplete() {
        var url = 'http://int.services.social.microsoft.com/search/Widgets/SearchBox.jss';
        var appId = '1006';
        var watermark = 'Search the TechNet Gallery'
        var brand = 'technet';
        var source = Galleries.searchIntellisense.getUrl(url, appId, 'searchBox', 'searchImg', watermark, brand);
        Galleries.utility.loadJavaScript(source);
    }



</script>

<div id="searchbox">

<form action="/technet/" method="get" onsubmit="ProcessWatermark(this,&#39;Search the TechNet Gallery&#39;)">

    <table cellspacing="0" cellpadding="0" class="srchbox" >

        <tbody>

            <tr>

                <td class="stxtcell">

                    <input type="hidden" class="filter" name="f[0].Type" value="SearchText" />

                    <input id="searchBox" class="filter stxtinptpassive"

                        maxlength="1000"

                        name="f[0].Value" id="f[0].Value" type="text" value="Search the TechNet Gallery"

                        onfocus="if(this.value == 'Search the TechNet Gallery'){this.value = '';} this.className = 'stxtinpt';"

                        onblur="if(this.value == ''){this.value = 'Search the TechNet Gallery'; this.className='stxtinptpassive';}" />                        

                    

                </td>

                <td id="searchImageCell">

                    <input id="searchImg" type="image" src="/technet/Content/Common/trans.gif" />

                </td>

            </tr>

        </tbody>

    </table>

    </form>

</div>



<div id="directoryContent">

    <div class="boxPosition" id="directoryList">

        <div class="browseFilterBar" >

            <div class="browseSort" >

                <span>Sort By:</span>

                <select id="SortBy" name="SortBy"><option selected="selected" value="Popularity">Popularity</option>

<option value="Date">Release Date</option>

<option value="Downloads">Downloads</option>

<option value="Ratings">Ratings</option>

<option value="TitleAsc">Title</option>

<option value="AuthorAsc">Author</option>

</select>

                <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/feeds/searchRss?sortBy=Popularity">

                    <img class="rss" src="/technet/Content/Common/trans.gif" alt="rss" />

                </a>

            </div>

            <div class="browseBreadcrumb" >

                <span>60</span> 

                <span>

                        results

                </span>

                        



<span class="fitlerCrumbs">

    

</span>

            </div>

        </div>

        <div id="directoryItems">

            <table class="itemContainer" cellpadding="0" cellspacing="0">

                



<tr class="itemRow">

    

    <td class="itemBody">

         



        <div class="itemTitle">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/v144-of-the-Exchange-2010-1912958d">

                v14.4 of the Exchange 2010 Mailbox Server Role Requirements Calculator

            </a>

        </div>

                      <div>

                Distributed By

                

    <a class="profile-usercard-hover" 

       data-profile-userId="ecd40a21-1f9a-4f96-8990-77adf0cf9fbb" 

       data-profile-usercard-customLink='{"href":"/technet/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=The%20Exchange%20Team","text":"View Contributions"}'

       href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=User&amp;f%5B0%5D.Value=The%20Exchange%20Team&amp;f%5B0%5D.Text=The%20Exchange%20Team">The Exchange Team</a>

 

              </div>

        <div class="summaryBox">

            We&#39;ve released an update to the E2010 Mailbox Server Role Requirements Calculator that addresses several usability issues identified in the v12.8 release.&#160;To see what&#39;s new in this version and to download it, please go to Updates to the Exchange 2010 Mailbox Server Role Requireme

        </div>

         







    <div class="itemBarLong tagsContainer">

        <label for="Tags">Tags</label>

        <div id="Tags">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange&amp;f%5B0%5D.Text=Exchange">Exchange</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange%20Server&amp;f%5B0%5D.Text=Exchange%20Server">Exchange Server</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=EHLO&amp;f%5B0%5D.Text=EHLO">EHLO</a>

        </div>

    </div>



 

    </td>

    <td class="itemInfo">

        <div>

            3/17/2011

        </div>

            <div>

                4,559

                Downloads

            </div>

         

        <div>

            <span class="Rating"><img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

</span>

            (6)

        </div>

    </td>

</tr>





<tr class="itemRow">

    

    <td class="itemBody">

         



        <div class="itemTitle">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/Exchange-2010-SP1-ExFolders-e6bfd405">

                Exchange 2010 SP1 ExFolders

            </a>

        </div>

                      <div>

                Distributed By

                

    <a class="profile-usercard-hover" 

       data-profile-userId="ecd40a21-1f9a-4f96-8990-77adf0cf9fbb" 

       data-profile-usercard-customLink='{"href":"/technet/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=The%20Exchange%20Team","text":"View Contributions"}'

       href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=User&amp;f%5B0%5D.Value=The%20Exchange%20Team&amp;f%5B0%5D.Text=The%20Exchange%20Team">The Exchange Team</a>

 

              </div>

        <div class="summaryBox">

            This new tool is really just a port of PFDAVAdmin to Exchange 2010. We changed the name to ExFolders because it no longer relies on DAV, and it&#39;s not just for public folders &#40;even PFDAVAdmin, in its public release, was not just for public folders&#41;. The name just didn&#39;t make sense

        </div>

         







    <div class="itemBarLong tagsContainer">

        <label for="Tags">Tags</label>

        <div id="Tags">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange&amp;f%5B0%5D.Text=Exchange">Exchange</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange%20Server&amp;f%5B0%5D.Text=Exchange%20Server">Exchange Server</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=EHLO&amp;f%5B0%5D.Text=EHLO">EHLO</a>

        </div>

    </div>



 

    </td>

    <td class="itemInfo">

        <div>

            3/17/2011

        </div>

            <div>

                1,569

                Downloads

            </div>

         

        <div>

            <span class="Rating"><img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

</span>

            (0)

        </div>

    </td>

</tr>





<tr class="itemRow">

    

    <td class="itemBody">

         



        <div class="itemTitle">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/Exchange-2010-RTM-ExFolders-c76c3649">

                Exchange 2010 RTM ExFolders

            </a>

        </div>

                      <div>

                Distributed By

                

    <a class="profile-usercard-hover" 

       data-profile-userId="ecd40a21-1f9a-4f96-8990-77adf0cf9fbb" 

       data-profile-usercard-customLink='{"href":"/technet/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=The%20Exchange%20Team","text":"View Contributions"}'

       href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=User&amp;f%5B0%5D.Value=The%20Exchange%20Team&amp;f%5B0%5D.Text=The%20Exchange%20Team">The Exchange Team</a>

 

              </div>

        <div class="summaryBox">

            This new tool is really just a port of PFDAVAdmin to Exchange 2010. We changed the name to ExFolders because it no longer relies on DAV, and it&#39;s not just for public folders &#40;even PFDAVAdmin, in its public release, was not just for public folders&#41;. The name just didn&#39;t make sense

        </div>

         







    <div class="itemBarLong tagsContainer">

        <label for="Tags">Tags</label>

        <div id="Tags">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange&amp;f%5B0%5D.Text=Exchange">Exchange</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=EHLO&amp;f%5B0%5D.Text=EHLO">EHLO</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange%20Server%202010&amp;f%5B0%5D.Text=Exchange%20Server%202010">Exchange Server 2010</a>

        </div>

    </div>



 

    </td>

    <td class="itemInfo">

        <div>

            3/17/2011

        </div>

            <div>

                760

                Downloads

            </div>

         

        <div>

            <span class="Rating"><img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

</span>

            (0)

        </div>

    </td>

</tr>





<tr class="itemRow">

    

    <td class="itemBody">

         



        <div class="itemTitle">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/Exchange-Management-b9d918b1">

                Exchange Management Console Troubleshooter

            </a>

        </div>

                      <div>

                Distributed By

                

    <a class="profile-usercard-hover" 

       data-profile-userId="ecd40a21-1f9a-4f96-8990-77adf0cf9fbb" 

       data-profile-usercard-customLink='{"href":"/technet/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=The%20Exchange%20Team","text":"View Contributions"}'

       href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=User&amp;f%5B0%5D.Value=The%20Exchange%20Team&amp;f%5B0%5D.Text=The%20Exchange%20Team">The Exchange Team</a>

 

              </div>

        <div class="summaryBox">

            The EMTshooter runs on the local &#40;target&#41; Exchange server and attempts to identify potential problems with management tools connection to it.The troubleshooter runs in 2 stages. First, it will look at the IIS Default Web Site, the PowerShell vdir, and other critical areas, to ide

        </div>

         







    <div class="itemBarLong tagsContainer">

        <label for="Tags">Tags</label>

        <div id="Tags">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange&amp;f%5B0%5D.Text=Exchange">Exchange</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange%20Server&amp;f%5B0%5D.Text=Exchange%20Server">Exchange Server</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=EHLO&amp;f%5B0%5D.Text=EHLO">EHLO</a>

        </div>

    </div>



 

    </td>

    <td class="itemInfo">

        <div>

            3/18/2011

        </div>

            <div>

                662

                Downloads

            </div>

         

        <div>

            <span class="Rating"><img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

</span>

            (2)

        </div>

    </td>

</tr>





<tr class="itemRow">

    

    <td class="itemBody">

         



        <div class="itemTitle">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/Exchange-2007-Mailbox-ca00a684">

                Exchange 2007 Mailbox Server Role Storage Requirements Calculator

            </a>

        </div>

                      <div>

                Distributed By

                

    <a class="profile-usercard-hover" 

       data-profile-userId="ecd40a21-1f9a-4f96-8990-77adf0cf9fbb" 

       data-profile-usercard-customLink='{"href":"/technet/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=The%20Exchange%20Team","text":"View Contributions"}'

       href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=User&amp;f%5B0%5D.Value=The%20Exchange%20Team&amp;f%5B0%5D.Text=The%20Exchange%20Team">The Exchange Team</a>

 

              </div>

        <div class="summaryBox">

            In order to assist customers in designing their storage layout for Exchange 2007, we have put together a calculator that focuses on driving the storage requirements &#40;I&#47;O performance and capacity&#41; and what the optimal LUN layout should be based on a set of input factors. The calcu

        </div>

         







    <div class="itemBarLong tagsContainer">

        <label for="Tags">Tags</label>

        <div id="Tags">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange&amp;f%5B0%5D.Text=Exchange">Exchange</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange%20Server&amp;f%5B0%5D.Text=Exchange%20Server">Exchange Server</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange%20Server%202007&amp;f%5B0%5D.Text=Exchange%20Server%202007">Exchange Server 2007</a>

        </div>

    </div>



 

    </td>

    <td class="itemInfo">

        <div>

            3/17/2011

        </div>

            <div>

                516

                Downloads

            </div>

         

        <div>

            <span class="Rating"><img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

</span>

            (2)

        </div>

    </td>

</tr>





<tr class="itemRow">

    

    <td class="itemBody">

         



        <div class="itemTitle">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/Exchange-Processor-Query-b06748a5">

                Exchange Processor Query Tool

            </a>

        </div>

                      <div>

                Distributed By

                

    <a class="profile-usercard-hover" 

       data-profile-userId="ecd40a21-1f9a-4f96-8990-77adf0cf9fbb" 

       data-profile-usercard-customLink='{"href":"/technet/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=The%20Exchange%20Team","text":"View Contributions"}'

       href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=User&amp;f%5B0%5D.Value=The%20Exchange%20Team&amp;f%5B0%5D.Text=The%20Exchange%20Team">The Exchange Team</a>

 

              </div>

        <div class="summaryBox">

            This tool automates the manual steps, described in the Mailbox Server Processor Capacity Planning TechNet article, to determine your planned processor&#39;s SPECInt 2006 Rate Value.&#160; To run this tool you must be connected to the Internet.&#160; The tool will take your planned processor mo

        </div>

         







    <div class="itemBarLong tagsContainer">

        <label for="Tags">Tags</label>

        <div id="Tags">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange&amp;f%5B0%5D.Text=Exchange">Exchange</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange%20Server&amp;f%5B0%5D.Text=Exchange%20Server">Exchange Server</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=EHLO&amp;f%5B0%5D.Text=EHLO">EHLO</a>

        </div>

    </div>



 

    </td>

    <td class="itemInfo">

        <div>

            3/17/2011

        </div>

            <div>

                291

                Downloads

            </div>

         

        <div>

            <span class="Rating"><img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

</span>

            (1)

        </div>

    </td>

</tr>





<tr class="itemRow">

    

    <td class="itemBody">

         



        <div class="itemTitle">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/App-V-Package-Accelerator-62415d39">

                App-V Package Accelerator for Microsoft Office Professional Plus 2010 -Windows 7

            </a>

        </div>

                      <div>

                Distributed By

                

    <a class="profile-usercard-hover" 

       data-profile-userId="3650a729-6fcc-4a54-8776-572f1a31acfb" 

       data-profile-usercard-customLink='{"href":"/technet/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=The%20App-V%20Team","text":"View Contributions"}'

       href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=User&amp;f%5B0%5D.Value=The%20App-V%20Team&amp;f%5B0%5D.Text=The%20App-V%20Team">The App-V Team</a>

 

              </div>

        <div class="summaryBox">

            This App-V Package Accelerator helps you create an App-V package for Microsoft Office Professional Plus 2010.

        </div>

         







    <div class="itemBarLong tagsContainer">

        <label for="Tags">Tags</label>

        <div id="Tags">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=App-V%204.6%20SP1&amp;f%5B0%5D.Text=App-V%204.6%20SP1">App-V 4.6 SP1</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Microsoft%20Office%20Professional%20Plus%202010&amp;f%5B0%5D.Text=Microsoft%20Office%20Professional%20Plus%202010">Microsoft Office Professional Plus 2010</a>

        </div>

    </div>



 

    </td>

    <td class="itemInfo">

        <div>

            3/20/2011

        </div>

            <div>

                415

                Downloads

            </div>

         

        <div>

            <span class="Rating"><img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

</span>

            (1)

        </div>

    </td>

</tr>





<tr class="itemRow">

    

    <td class="itemBody">

         



        <div class="itemTitle">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/Adobe-Reader-X-Package-ac504c1c">

                Adobe Reader X Package Accelerator

            </a>

        </div>

                      <div>

                Distributed By

                

    <a class="profile-usercard-hover" 

       data-profile-userId="75fb27b7-ecb5-48fa-9c98-c777a4d42b2c" 

       data-profile-usercard-customLink='{"href":"/technet/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=Kevin%20Kaminski","text":"View Contributions"}'

       href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=User&amp;f%5B0%5D.Value=Kevin%20Kaminski&amp;f%5B0%5D.Text=Kevin%20Kaminski">Kevin Kaminski</a>

 

              </div>

        <div class="summaryBox">

            This is a Package Accelerator for use with the Adobe Reader 10.0.0.1 installer. See how this package accelerator can dramatically reduce the time to sequence this application.

        </div>

         









 

    </td>

    <td class="itemInfo">

        <div>

            3/20/2011

        </div>

            <div>

                310

                Downloads

            </div>

         

        <div>

            <span class="Rating"><img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

</span>

            (4)

        </div>

    </td>

</tr>





<tr class="itemRow">

    

    <td class="itemBody">

         



        <div class="itemTitle">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/Jetstress-Field-Guide-1602d64c">

                Jetstress Field Guide

            </a>

        </div>

                      <div>

                Distributed By

                

    <a class="profile-usercard-hover" 

       data-profile-userId="ecd40a21-1f9a-4f96-8990-77adf0cf9fbb" 

       data-profile-usercard-customLink='{"href":"/technet/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=The%20Exchange%20Team","text":"View Contributions"}'

       href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=User&amp;f%5B0%5D.Value=The%20Exchange%20Team&amp;f%5B0%5D.Text=The%20Exchange%20Team">The Exchange Team</a>

 

              </div>

        <div class="summaryBox">

            The attached guide is a&#160;whitepaper that explains the process and requirements for validating an Exchange storage solution prior to releasing an Exchange deployment into production. The whitepaper explains how Jetstress works, how to plan for and perform a Jetstress test, and how 

        </div>

         







    <div class="itemBarLong tagsContainer">

        <label for="Tags">Tags</label>

        <div id="Tags">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange&amp;f%5B0%5D.Text=Exchange">Exchange</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange%20Server&amp;f%5B0%5D.Text=Exchange%20Server">Exchange Server</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange%20Server%202007&amp;f%5B0%5D.Text=Exchange%20Server%202007">Exchange Server 2007</a>

        </div>

    </div>



 

    </td>

    <td class="itemInfo">

        <div>

            3/18/2011

        </div>

            <div>

                228

                Downloads

            </div>

         

        <div>

            <span class="Rating"><img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="EmptyRatingStar" />

</span>

            (0)

        </div>

    </td>

</tr>





<tr class="itemRow">

    

    <td class="itemBody">

         



        <div class="itemTitle">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/Performance-and-Threshold-d32ff5a6">

                Performance and Threshold Counters for Exchange Server 2010

            </a>

        </div>

                      <div>

                Distributed By

                

    <a class="profile-usercard-hover" 

       data-profile-userId="ecd40a21-1f9a-4f96-8990-77adf0cf9fbb" 

       data-profile-usercard-customLink='{"href":"/technet/site/search?f%5B0%5D.Type=User&f%5B0%5D.Value=The%20Exchange%20Team","text":"View Contributions"}'

       href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=User&amp;f%5B0%5D.Value=The%20Exchange%20Team&amp;f%5B0%5D.Text=The%20Exchange%20Team">The Exchange Team</a>

 

              </div>

        <div class="summaryBox">

            For administrators who do not use System Center Operations Manager to monitor their Exchange&#160;2010&#160;e<wbr />nvironment, a thorough understanding of the most important performance counters and their thresholds is critical to establishing a performance baseline and monitoring plan to proact

        </div>

         







    <div class="itemBarLong tagsContainer">

        <label for="Tags">Tags</label>

        <div id="Tags">

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange&amp;f%5B0%5D.Text=Exchange">Exchange</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=Exchange%20Server&amp;f%5B0%5D.Text=Exchange%20Server">Exchange Server</a>, <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?f%5B0%5D.Type=Tag&amp;f%5B0%5D.Value=EHLO&amp;f%5B0%5D.Text=EHLO">EHLO</a>

        </div>

    </div>



 

    </td>

    <td class="itemInfo">

        <div>

            3/18/2011

        </div>

            <div>

                247

                Downloads

            </div>

         

        <div>

            <span class="Rating"><img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

<img style="vertical-align: text-top;" src="http://mwrock1.redmond.corp.microsoft.com/technet/Content/Common/trans.gif" class="FilledRatingStar" />

</span>

            (2)

        </div>

    </td>

</tr>



                <tr>

                    <td colspan="3">

                        

                    </td>

                </tr>

                

                <tr>

                    <td colspan="3" style="text-align: center; padding-top: .75em; padding-bottom: .75em;">

                        <div id="Pager">

    <div>

        1 - 10

        of

        60

        Items

        &nbsp;&nbsp;

    </div>

    <div>

&#171; First        &nbsp;

&lt; Prev        &nbsp;

1&nbsp;

                <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?pageIndex=2" class="Link">2</a>&nbsp; 

                <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?pageIndex=3" class="Link">3</a>&nbsp; 

                <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?pageIndex=4" class="Link">4</a>&nbsp; 

                <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?pageIndex=5" class="Link">5</a>&nbsp; 

                <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?pageIndex=6" class="Link">6</a>&nbsp; 

        &nbsp;

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?pageIndex=2" class="Link">Next &gt;</a>

        &nbsp;

            <a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search?pageIndex=6" class="Link">Last &#187;</a>

    </div>

</div>

                    </td>

                </tr>

                

            </table>

        </div>

    </div>

</div>

<a href="http://mwrock1.redmond.corp.microsoft.com/technet/site/search" id="aSortBy" style="display:none;">&nbsp;</a>

<script type="text/javascript">
    $(function () { attachSortHandler('SortBy', 'aSortBy', 0); })

</script>





            </div>

        </div>

    </div>



        </div>

        <div class="clear">

        </div>

    </div>

    <div class="advertisment">

        <div id="Banner728">

	<div id="28ead753-e773-439f-9df3-f1780fc67660" name="28ead753-e773-439f-9df3-f1780fc67660" align="center" style="margin:auto;" class="AdWidthFix"></div><script type="text/javascript">	                                                                                                                                                            dapMgr.enableACB("28ead753-e773-439f-9df3-f1780fc67660", false); dapMgr.renderAd("28ead753-e773-439f-9df3-f1780fc67660", "&PG=CMSTGB&AP=1390", 728, 90);</script>

</div>



    </div>



                                    <div class="Clear"></div>

                                </div>

    

                            </div>

                        </div>

                    </div>

                

                    <div class="Clearbottom"></div>          

                    <div class="bottomleftcorner"></div>            

                    <div class="bottomrightcorner"></div> 

                    

                    <div id="Footer">

                        <div class="FooterLogoContainer"><a href="http://www.microsoft.com/en/us/default.aspx"><div class="FooterLogo" title="Microsoft Corporation"> </div></a></div><div class="FooterLinks"><div id="FooterCopyright" class="FooterCopyright">© 2011  Microsoft. All rights reserved.</div><span class="FooterAnchorList"><a href="http://technet.microsoft.com/cc300389.aspx">Terms of Use</a><span class="Pipe">|</span><a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/en-us.mspx">Trademarks</a><span class="Pipe">|</span><a href="http://www.microsoft.com/info/privacy.mspx">Privacy Statement</a></span></div>

                        

    <div id="buildVersion">

        Version:

        2011.3.26.0</div>



                    </div>                             

                </div>

            </div>

        </div>  

    </div>

    

    

    <script type="text/javascript">
        Galleries.utility.loadJavaScript("http://galprofile.redmond.corp.microsoft.com:1414/v1/loader.js?brand=TechNet&lang=en-US", true);
        Galleries.utility.loadJavaScript('http://js.microsoft.com/library/svy/sto/broker.js', true);

    </script>    



    <script src="http://int.services.social.microsoft.com/search/Widgets/SearchBox.jss?boxid=SearchTextBox&btnid=SearchButton&brand=Technet&loc=en-US&resref=&addEnglish=&rn=&rq=&watermark=&focusOnInit=False&beta=0&iroot=&cver=0001" type="text/javascript" language="javascript"></script>

    <script src="http://mwrock1.redmond.corp.microsoft.com/GlobalResources/scripts/common.min.js?cver=0001" type="text/javascript" language="javascript"></script>

    

        <script src="http://mwrock1.redmond.corp.microsoft.com/GlobalResources/Scripts/omni_rsid_social_min.js?cver=0001" type="text/javascript" language="javascript"></script>

        <noscript><a href="http://www.omniture.com" title="Web Analytics"><img

        src="http://msstonojssocial.112.2O7.net/b/ss/msstonojssocial/1/H.20.2--NS/0"

        height="1" width="1" border="0" alt="" /></a></noscript>

    

</body>

</html>