
<!DOCTYPE html>
<html>
<head>
    <title>Orange Lightning | Web, software, database and app development</title>
    <meta name="keywords" content="Orange Lightning, Web Design, Web Development, Bespoke Development, Search Engine Optimisation, app development, Bristol" />
    <meta name="description" content="Orange Lightning, a Bristol based company, specialise in web, phone app and software application development using the latest technologies." />
    <meta name="language" content="en-GB" />
    <link rel="icon" href="http://www.orangelightning.co.uk/Content/Images/favicon.png" type="image/png" />
    <link href="http://www.orangelightning.co.uk/Content/CSS/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://www.orangelightning.co.uk/Content/CSS/site.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25777398-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</head>

<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <a href="/"><div class="logo"></div></a>
        </div>
        <div id="menu">
            <div class="menu-item"><a href="/">Home</a></div>
            <div class="menu-item"><a href="/about-us">About Us</a></div>
            <div class="menu-item"><a href="/services">Services</a></div>
            <div class="menu-item"><a href="/portfolio">Portfolio</a></div>
            <div class="menu-item"><a href="/contact-us">Contact Us</a></div>
        </div>
        <br class="clear" />
    </div>

    
<div id="wrapper">

    <div class="spanlayoutcol">
        <h1>Welcome to Orange Lightning</h1>

        <p>We're a Bristol based company offering services in website, database, phone application and software development, specialising in using Microsoft technologies and solutions.
        We use the latest cloud based tools and solutions to make highly scalable and cost effective solutions for your business.</p>
        <br />
        <p>We work with the latest technologies, processes and tools to offer your business a high quality solution, 
        so <a href="/contact-us">contact us</a> today to find out how we can help your business. 
        Our customers are small to medium businesses (SMEs) in need of bespoke or customised software or solutions to support and drive their business.</p>
        
    </div>

    <br class="clear" />

    <div class="threecol">
        <div class="threecol-col">
        <h3>News</h3>

        <p>Below is a list of our latest news and articles.</p>
        <br />

            <p><a href="/news-item/we-will-be-at-dddnorth">We&#39;ll be at DDDNorth</a></p>
            <br />
            <p><a href="/news-item/going-to-givecampuk">We&#39;re going to GiveCampUK</a></p>
            <br />
            <p><a href="/news-item/welcome-to-orange-lightning">Welcome to Orange Lightning</a></p>
            <br />

        <a href="/news">All our news</a>
        </div>

        <div class="threecol-col">
        <h3>Services</h3>

        We offer the following services

        <ul>
            <li>Website design &amp; development</li>
            <li>Website and service hosting</li>
            <li>Cloud migration &amp; consultancy</li>
            <li>SEO</li>
            <li>Social media</li>
        </ul>
        
        <a href="/services">Read more about what we do</a>
        </div>

        <div class="threecol-col">
        <h3>Talk to us</h3>

        <p>Call us: +44(0)117 230 8778</p>
        <br />
        <p><a href="mailto:phil@orangelightning.co.uk">Email us</a></p>
        <br />
        <p>Tweet us: <a href="http://twitter.com/olightning">olighting</a></p>
        <br />

        <a href="/contact-us">Even more ways</a>
        </div>
    </div>

    <br class="clear" />

    <div class="twocol">
        <div class="twocol-col">
            <h3>We're members of</h3>

            <div class="ms-partner-logo"></div><br />

            <div class="ms-websitespark-logo"></div>
        </div>
        <div class="twocol-col">
            <h3>We use</h3>

            <a href="http://www.microsoft.com/windowsazure/"><div class="ms-azure-logo"></div></a><br />

            <a href="http://www.microsoft.com/windowsserver/"><div class="ms-windowsserver-logo"></div></a><br />

            <a href="http://www.microsoft.com/sqlserver/"><div class="ms-sqlserver-logo"></div></a><br />

            <a href="http://www.microsoft.com/net"><div class="ms-dotnet-logo"></div></a><br />

            <a href="http://appharbor.com"><div class="appharbor-logo"></div></a>
        </div>
    </div>

    <br class="clear" />
</div>


    <div class="spanlayoutcol copytext">
        Copyright &copy 2011 Orange Lightning Ltd. Registered in England & Wales No: 07741829.
        <br />
        +44(0)117 230 8778 | <a href="mailto:phil@orangelightning.co.uk">Email us</a> | <a href="/contact-us">Contact Us</a>
    </div>
</div>
</body>
</html>