<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta name="description" content="" />

    <link rel="shortcut icon" href="http://i1.ppe.code.msdn.s-msft.com/windowsapps/GlobalResources/images/Msdn/favicon.ico" type="image/x-icon" /> <link href="http://i1.qa.social.s-msft.com/contentservice/12e3f1bd-7cce-497a-bd7f-9f510118c99a/Msdn.css" rel="Stylesheet" type="text/css" /><link href="http://i1.qa.social.s-msft.com/contentservice/271b0fc8-5324-44e5-b638-9dad00d725c4/Site.css" rel="Stylesheet" type="text/css" /><link href="http://i1.qa.social.s-msft.com/contentservice/f5b8eb0f-5d10-49a3-be39-9f5c011d59d7/MSDN_windows_apps.css" rel="Stylesheet" type="text/css" /><meta name="CommunityInfo" content=" B=Msdn;A=Gallery::WindowsM;L=en-US;" />
    <script src="http://code.jquery.com/jquery-1.6.1.min.js" type="text/javascript" language="javascript"></script>
    
    <title>Metro style app samples - Windows 8 Code Samples and Examples</title>
    <link href="http://i1.ppe.code.msdn.s-msft.com/windowsapps/pageresource.css?groupname=windowsmstyles&amp;v=2011.3.26.0" type="text/css" rel="Stylesheet" /><script src="http://i1.ppe.code.msdn.s-msft.com/windowsapps/pageresource.js?groupname=windowsmscripts&amp;v=2011.3.26.0" type="text/javascript">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTM5OTAxNDYyNWRkvI787cXLvh9XHlDReEjVejxzcZ4=" />

</script>
    <link href="/windowsapps/site/feeds/searchRss" rel="Alternate" type="application/rss+xml"
        title="Metro style app samples" />
    <link rel="P3Pv1" href="/W3C/p3p.xml" />
    
    <style type="text/css">
        #sideNav
        {
            width: 0px;
        }
        
    </style>
    <script src="http://i1.ppe.code.msdn.s-msft.com/windowsapps/content/common/jquery-impromptu.3.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.tabHeaders > div').Tabify('current', 'Contributions');
            if ($.browser.msie && $.browser.version == "6.0") {
                $('#subscriptionsLink').hide();
            }
        });

        function showSubscribeDialog() {

            $.get('\x2fwindowsapps\x2fsite\x2fmysubscriptions', function (data) {

                $.prompt(data, {
                    prefix: 'subscribeForm',
                    top: '35%',
                    buttons: { 'Save': true, 'Cancel': false },
                    submit: function (isSave, formContainer, formData) {
                        if (!isSave) return true;
                        var shouldClose = false;
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: '\x2fwindowsapps\x2fsite\x2fmysubscriptions',
                            data: formData,
                            success: function (data) {
                                if (data.isError) {
                                    shouldClose = false;
                                    $("#emailErrorMessage").text(data.emailErrorMessage);
                                }
                                else { shouldClose = true; }
                            },
                            dataType: "json"
                        });
                        return shouldClose;
                    }
                });
            });


        };
    </script>

</head></html>