<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!--<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8" />-->
    <meta name="robots" content="index,follow" />
<meta name="GENERATOR" content="Telligent Community 5.6.583.19849 (Build: 5.6.583.19849)" />
<link rel="alternate" type="application/rss+xml" title="Home (RSS 2.0)" href="http://dev.blogs.technet.redmond.corp.microsoft.com/rss.aspx"  />

            <link rel="stylesheet" href="http://dev.blogs.technet.redmond.corp.microsoft.com/themes/generic/css/layout.css" type="text/css" media="screen" />
        
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <link rel="shortcut icon" type="image/ico" href="http://dev.blogs.technet.redmond.corp.microsoft.com/themes/TechNet/favicon.ico" />
          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
          <link type="text/css" rel="stylesheet" href="http://dev.blogs.technet.redmond.corp.microsoft.com/themes/TechNet/css/screen.css" media="screen,print" />
          <link type="text/css" rel="stylesheet" href="http://dev.blogs.technet.redmond.corp.microsoft.com/themes/TechNet/css/technet.css" media="screen,print" />
          <link type="text/css" rel="stylesheet" href="http://dev.blogs.technet.redmond.corp.microsoft.com/themes/TechNet/css/custom.css" media="screen,print" />		  		  
        
          <link type="text/css" rel="stylesheet" href="http://dev.blogs.technet.redmond.corp.microsoft.com/themes/TechNet/css/DynamicStyle.aspx?PreviewKey=0" media="screen,print" />
        
          <!--[if lte IE 6]>
              <link type="text/css" rel="stylesheet" href="http://dev.blogs.technet.redmond.corp.microsoft.com/themes/TechNet/css/ie6.css" media="screen,print" />
          <![endif]-->
          <link type="text/css" rel="stylesheet" href="http://dev.blogs.technet.redmond.corp.microsoft.com/themes/TechNet/css/print.css" media="print" />
        <META name="msapplication-task" content="name=Rolling Blog Post List;action-uri=http://blogs.technet.com/b/;icon-uri=http://evol.blogs.msdn.com/themes/TechNet/IE9_Pinning/SlashB.ico"/>
<title>
	STO Blog Sandbox Dev
</title></head>
<body spellcheck="true">
    <form name="aspnetForm" method="post" action="/" id="aspnetForm">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE3MDk3MzE0MzJkZHEl9CHJowQosUuTr6vH14y29tnq" />
</div>

<script type="text/javascript">
//<![CDATA[
    var theForm = document.forms['aspnetForm'];
    if (!theForm) {
        theForm = document.aspnetForm;
    }
    function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.__EVENTTARGET.value = eventTarget;
            theForm.__EVENTARGUMENT.value = eventArgument;
            theForm.submit();
        }
    }
//]]>
</script>



<script src="http://dev.blogs.technet.redmond.corp.microsoft.com/rrcontent/e8c0ce230eaf1328e7155f805ac78acf-0c67176513faa6830c22e7a2e2fd0394-RequestReducedScript.js" type="text/javascript" ></script>






    
    
    

    <div class="header-fragments-header"></div>
<div class="header-fragments"><div class="header-fragment megablade" id="header-fragment-668884183">
<div data-chameleon-template="megablade"></div></div><div class="header-fragment-outer top-bar fiji-header-fragment-outer fiji-top-bar"><div class="header-fragment-inner top-bar fiji-header-fragment-inner fiji-top-bar"><div class="header-fragment welcome-message" id="header-fragment-668884184">


<!-- always render -->
</div><div class="header-fragment login-logout" id="header-fragment-668884185">





        <div class="navigation-list-header"></div>
        <ul class="navigation-list">

            <li class="navigation-item">
                <span id="ctl00_header_fragment_668884185__9e8b0d_ctl00_ctl02_ctl05_WLIDLoginButton1" class="internal-link live-id-button"><a href="https://login.live-int.com/login.srf?wa=wsignin1.0&rpsnv=46&ct=1320792041&rver=6.0.5286.0&wp=MBI&wreply=http:%2F%2Fdev.blogs.technet.redmond.corp.microsoft.com%2Fdefault.aspx&lc=1033&id=284159">Sign In</a></span>
            </li>
        </ul>
        <div class="navigation-list-footer"></div>
    </div><div class="header-fragment user-welcome-without-login" id="header-fragment-668884186">

 &nbsp;<!-- always render -->

</div></div></div><div class="header-fragment-outer fiji-header-fragment-outer site-banner"><div class="header-fragment-inner fiji-header-fragment-inner site-banner">
      <ul class="navigation">
        <li class="nav-home"><a href="http://technet.microsoft.com/default.aspx">Home</a></li>
        <li class="nav-library"><a href="http://technet.microsoft.com/library/default.aspx">Library</a></li>
		<li class="nav-wiki"><a href="http://social.technet.microsoft.com/wiki/">Wiki</a></li>
        <li class="nav-learn"><a href="http://technet.microsoft.com/bb291022.aspx">Learn</a></li>
        <li class="nav-gallery"><a href="http://gallery.technet.microsoft.com/">Gallery</a></li>
        <li class="nav-downloads"><a href="http://technet.microsoft.com/bb403698.aspx">Downloads</a></li>
        <li class="nav-support"><a href="http://technet.microsoft.com/ms772425.aspx">Support</a></li>
        <li class="nav-forums"><a href="http://social.technet.microsoft.com/Forums">Forums</a></li>
		<li class="nav-blogs"><a href="http://blogs.technet.com/">Blogs</a></li>
      </ul>
      <span class="IT_Resources">Resources For IT Professionals</span>
      <div class="header-fragment site-banner" id="header-fragment-668884187">


<div class="site-banner-header"></div>
<div class="site-banner">
    
    
    
            <div class="site-logo"><a href="http://technet.microsoft.com/default.aspx">
                    <img src="http://dev.blogs.technet.redmond.corp.microsoft.com/themes/TechNet/images/technet/logo.png" alt="" style="border-width:0px;" />
                </a></div>
        
</div>
<div class="site-banner-footer"></div></div></div></div><div class="header-fragment-outer fiji-header-fragment-outer search"><div class="header-fragment-inner fiji-header-fragment-inner search"><div class="header-fragment search" id="header-fragment-668884188">

<script src="http://dev.blogs.technet.redmond.corp.microsoft.com/rrcontent/75c19928f9fff3894f5c18830386253c-ee00de703ba45703005a2d715b92a02e-RequestReducedScript.js" type="text/javascript" ></script>

<script type="text/javascript">
	// <![CDATA[
    var Core_Search_AjaxEndpoint = '/Utility/HeaderFragments/Core/SearchAjax.asmx'
    var Core_Search_NoSearchResults = 'No results found'

    var ctl00_header_fragment_668884188 = { "wrapperId": "header-fragment-668884188", "variableName": "ctl00_header_fragment_668884188", "parameter": { "popupId": "ctl00_header_fragment_668884188__9e8b0d_ctl00_SearchPopup", "textBoxId": "ctl00_header_fragment_668884188__9e8b0d_ctl00_SearchText", "searchResultWrapperHtmlBlock": "{SearchResults}", "searchGroupHtmlBlock": "\r\n\t\t<div class=\"content-list-header\"></div>\r\n\t\t<div class=\"content-list-name\">{ContentName}</div>\r\n\t\t<ul class=\"content-list\">\r\n\t\t\t{ContentItems}\r\n\t\t</ul>\r\n\t\t<div class=\"content-list-footer\"></div>\r\n\t\t", "searchItemHtmlBlock": "<li class=\"content-item\"><a href=\"{Link}\" class=\"internal-link {LinkType}\"><span></span>{Title}</a></li>\t\t", "searchSearchingHtmlBlock": "<div class=\"message loading\">Searching...</div>", "searchNoResultsHtmlBlock": "<div class=\"message norecords\">No results found</div>", "showAllHtmlBlock": "<a href=\"{ShowAllLink}\" class=\"internal-link search\"><span></span>Show All...</a>", "searchErrorHtmlBlock": "<div class=\"message error\">Search is currently unavailable.</div>", "searchOptionsPopup": "ctl00_header_fragment_668884188__9e8b0d_ctl00_SearchOptionsPopup", "searchOptionName": "ctl00_header_fragment_668884188__9e8b0d_ctl00_filter", "lastKeyCode": "", "timeout": ""} };

    $(document).ready(function () {
        Core_Search_Register(ctl00_header_fragment_668884188);
    });
	// ]]>
</script>

<div class="field-list-header">
</div>
<fieldset class="field-list">
	<ul class="field-list">
		<li class="field-item"><span class="field-item-input"><input name="ctl00$header_fragment_668884188$_9e8b0d$ctl00$SearchText" type="text" maxlength="64" size="15" id="ctl00_header_fragment_668884188__9e8b0d_ctl00_SearchText" class="search empty" /></span></li>
		
	</ul>
</fieldset>
<div class="field-list-footer">
</div>
<div id="ctl00_header_fragment_668884188__9e8b0d_ctl00_SearchPopup" style="position:absolute;visibility:hidden;left:-5000px;"></div>

</div></div></div><div class="header-fragment search-watermark" id="header-fragment-668884189">
<script src="http://dev.blogs.technet.redmond.corp.microsoft.com/rrcontent/97b60cb7b8a8aadd23213acec897f9d9-38d783d45379f69cd6e59629253e14f7-RequestReducedScript.js" type="text/javascript" ></script>
<script type="text/javascript">
    $('input.search').watermark({ text: 'Search TechNet Blogs' });
</script></div></div>
<div class="header-fragments-footer"></div>
    
    <div class="content-fragment-page common-home" id="ctl00_content_ctl00_page"><div class="layout">
<div class="layout-header"></div>
<div class="layout-content header-top-sidebar-left-content-center-sidebar-right" id="ctl00_content_ctl00_layout">
<div class="layout-region header" id="ctl00_content_ctl00_header">
<div class="layout-region-inner header"><div class="content-fragment html-content no-wrapper-with-spacing" id="fragment-6189">
<div class="content-fragment-inner fiji-content-fragment-inner"><div class="content-fragment-top fiji-content-fragment-top"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div><div class="content-fragment-content">
<div class="user-defined-markup"><div><img src="http://dev.blogs.technet.redmond.corp.microsoft.com/Themes/TechNet/Images/technet-homepage-header.png" alt="TechNet" width="911" height="74" /></div></div></div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom fiji-content-fragment-bottom"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div></div></div>
</div>
</div>
<div class="layout-region left-sidebar" id="ctl00_content_ctl00_left-sidebar">
<div class="layout-region-inner left-sidebar"><div class="content-fragment html-content full-border" id="fragment-6192">
<div class="content-fragment-inner fiji-content-fragment-inner"><div class="content-fragment-top fiji-content-fragment-top"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div><div class="content-fragment-content">
<div class="user-defined-markup"><div style="float:left;margin-right:5px;width:24px;height:26px;padding-top:2px;"><img src="http://dev.blogs.technet.redmond.corp.microsoft.com/cfs-file.ashx/__key/CommunityServer-Components-UserFiles/00-00-00-21-03-Attached+Files/5488.windows.png" width="24" border="0" height="24" alt="" /></div>
<div style="float:left;width:153px;margin-bottom:12px;"><span style="color:#37648F;"><b>Spotlight: Accelerating Windows 7 Deployments<br /></b></span></div>
<ul style="padding-left:0;margin-left:26px;clear:both;margin-top:12px;">
<li><a href="http://blogs.technet.com/b/keithcombs/archive/2010/10/29/windows-7-best-of-deployment-compilation-by-guest-blogger-jeremy-chapman.aspx"><b>Blog:</b> Windows  7: Best of Deployment Compilation by Guest Blogger Jeremy Chapman</a></li>
<li><a href="http://go.microsoft.com/?linkid=9749730"><b>Editor&#39;s Note:</b> 25 Years and Still Getting Better</a></li>
<li><a href="http://go.microsoft.com/?linkid=9749731"><b><i>TechNet Magazine:</i></b> A Modern Guide to Desktop Deployment</a></li>
<li><a href="http://go.microsoft.com/?linkid=9749735">Windows 7 Deployment Tools</a></li>
</ul>
<p>Search &gt; <a href="http://blogs.technet.com/search/searchresults.aspx?q=title%3a+%22windows+7%22+deployment&amp;sort=date+desc&amp;PageIndex=1">Windows 7 Deployments</a></p></div></div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom fiji-content-fragment-bottom"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div></div></div>
<div class="content-fragment html-content full-border" id="fragment-6190">
<div class="content-fragment-inner fiji-content-fragment-inner"><div class="content-fragment-top fiji-content-fragment-top"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div><div class="content-fragment-content">
<div class="user-defined-markup"><p style="margin-top:0;"><img src="http://dev.blogs.technet.redmond.corp.microsoft.com/cfs-file.ashx/__key/CommunityServer-Components-UserFiles/00-00-00-21-03-Attached+Files/0312.virtualization.png" style="margin-right:4px;vertical-align:middle;" width="24" border="0" height="24" alt="" /> <span style="color:#37648F;"><b>Spotlight: Virtualization</b></span></p>
<ul style="padding-left:0;margin-left:26px;">
<li><a href="http://go.microsoft.com/?linkid=9744688"><b>Editor&#39;s note:</b> Increasing Your Odds with Virtualization</a></li>
<li><a href="http://go.microsoft.com/?linkid=9744689"><b><i>TechNet Magazine:</i></b> Top 10 Virtualization Best Practices</a></li>
<li><a href="http://go.microsoft.com/?linkid=9744692"><b><i>TechNet Magazine:</i></b> Care and Feeding of Virtual Environments</a></li>
</ul>
<p>Search &gt; <a href="http://blogs.technet.com/search/SearchResults.aspx?q=%22Virtualization%22&amp;sort=date+desc&amp;PageIndex=1">Virtualization</a></p></div></div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom fiji-content-fragment-bottom"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div></div></div>
<div class="content-fragment html-content full-border" id="fragment-6264">
<div class="content-fragment-inner fiji-content-fragment-inner"><div class="content-fragment-top fiji-content-fragment-top"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div><div class="content-fragment-content">
<div class="user-defined-markup"><p style="margin-top:0;"><img src="http://dev.blogs.technet.redmond.corp.microsoft.com/cfs-file.ashx/__key/CommunityServer-Components-UserFiles/00-00-00-21-03-Attached+Files/4064.Spotlight_5F00_Silverlight.png" style="margin-right:4px;vertical-align:middle;margin-right:4px;" width="24" border="0" height="24" alt="" /><span style="color:#37648F;"><b>Spotlight: Silverlight<br /></b></span></p>
<ul style="padding-left:0;margin-left:26px;">
<li><a href="http://blogs.technet.com/b/simonmay/archive/2010/09/07/the-argument-for-silverlight-as-part-of-your-corporate-optimized-desktop.aspx"><b>Blog:</b> The argument for Silverlight as part of your corporate optimized desktop</a></li>
<li><a href="http://go.microsoft.com/?linkid=9742694"><b>Editor&#39;s Note:</b> For RIAs in the Enterprise, It&#39;s All about the Data</a></li>
<li><a href="http://go.microsoft.com/?linkid=9742695"><b><i>TechNet Magazine</i>:</b> Build Your Business Apps on Silverlight</a></li>
<li><a href="http://go.microsoft.com/?linkid=9742701"><b>Video:</b> Build Your First Silverlight Web Application</a></li>
</ul>
<p>Search &gt; <a href="http://dev.blogs.technet.redmond.corp.microsoft.com/search/SearchResults.aspx?q=Silverlight&amp;PageIndex=1&amp;sort=date+desc">Silverlight</a></p></div></div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom fiji-content-fragment-bottom"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div></div></div>
</div>
</div>
<div class="layout-region right-sidebar" id="ctl00_content_ctl00_right-sidebar">
<div class="layout-region-inner right-sidebar"><div class="content-fragment tag-cloud no-wrapper-with-spacing with-header" id="fragment-6193">
<div class="content-fragment-inner fiji-content-fragment-inner"><div class="content-fragment-top fiji-content-fragment-top"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div><div class="content-fragment-header"><div>Popular Topics</div></div>
<div class="content-fragment-content">
<div class="tag-list-header"></div><ul class="tag-list">
<li class="tag-item level-1"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/-NET/" rel="tag">.NET</a></li>
<li class="tag-item level-1"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/ASP-NET/" rel="tag">ASP.NET</a></li>
<li class="tag-item level-2"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/blog+platform/" rel="tag">blog platform</a></li>
<li class="tag-item level-1"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/Community+News/" rel="tag">Community News</a></li>
<li class="tag-item level-6"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/fender/" rel="tag">fender</a></li>
<li class="tag-item level-6"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/lorem/" rel="tag">lorem</a></li>
<li class="tag-item level-4"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/MSDN/" rel="tag">MSDN</a></li>
<li class="tag-item level-3"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/mvc/" rel="tag">mvc</a></li>
<li class="tag-item level-4"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/new/" rel="tag">new</a></li>
<li class="tag-item level-6"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/profile/" rel="tag">profile</a></li>
<li class="tag-item level-1"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/tag/" rel="tag">tag</a></li>
<li class="tag-item level-5"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/Talks/" rel="tag">Talks</a></li>
<li class="tag-item level-2"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/TechNet/" rel="tag">TechNet</a></li>
<li class="tag-item level-4"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/test/" rel="tag">test</a></li>
<li class="tag-item level-5"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/test1/" rel="tag">test1</a></li>
<li class="tag-item level-5"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/test2/" rel="tag">test2</a></li>
<li class="tag-item level-4"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/test3/" rel="tag">test3</a></li>
<li class="tag-item level-3"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/upgrade/" rel="tag">upgrade</a></li>
<li class="tag-item level-3"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/Visual+Studio/" rel="tag">Visual Studio</a></li>
<li class="tag-item level-6"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/tags/web+forms/" rel="tag">web forms</a></li>
</ul>
<div class="tag-list-footer"></div>
</div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom fiji-content-fragment-bottom"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div></div></div>
<div class="content-fragment raw-html no-wrapper-with-spacing with-header" id="fragment-6194">
<div class="content-fragment-inner fiji-content-fragment-inner"><div class="content-fragment-top fiji-content-fragment-top"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div><div class="content-fragment-header"><div>Help &amp; Feedback</div></div>
<div class="content-fragment-content">
<div class="user-defined-markup"><div style="margin-top:6px">
<div style="float:left;margin-right:12px;"><img src="http://dev.blogs.technet.redmond.corp.microsoft.com/Themes/MSDN2/Images/MSDN/help.png" style="margin-top:2px;" /></div>
<div style="float: left; width: 167px;">Learn more about the TechNet Blog Platform at the <a href="http://blogs.technet.com/b/help">TechNet Blogs - Help</a> blog!</div>
</div>
<p style="clear:both; margin-bottom:0">&nbsp;</p>
<div>
<div style="float:left;margin-right:13px;"><img src="http://dev.blogs.technet.redmond.corp.microsoft.com/Themes/TechNet/Images/TechNet/feedback.png" /></div>
<div style="float:left; width:166px"><a href="https://lab.msdn.microsoft.com/mailform/contactus.aspx?refurl=http://technet.microsoft.com/blogs/default.aspx" target="_blank" id="feedbackHref">Provide Site Feedback on TechNet Blogs</a></div>

<script type="text/javascript">
    var pageUrl = window.location.pathname;
    var fb = document.getElementById('feedbackHref');
    fb.href = 'https://lab.msdn.microsoft.com/mailform/contactus.aspx?refurl=http://technet.microsoft.com/blogs' + pageUrl;
</script>
</div></div></div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom fiji-content-fragment-bottom"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div></div></div>
</div>
</div>
<div class="layout-region content" id="ctl00_content_ctl00_content">
<div class="layout-region-inner content"><div class="content-fragment html-content no-wrapper with-header" id="fragment-6195">
<div class="content-fragment-inner fiji-content-fragment-inner"><div class="content-fragment-top fiji-content-fragment-top"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div><div class="content-fragment-header"><div>The Latest Blog Posts</div></div>
<div class="content-fragment-content">
<div class="user-defined-markup"><p style="margin-bottom:0px;margin-top:6px;"><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/b/default.aspx?PageIndex=1">View All Blog Posts <span style="font-size:1.2em;">&raquo;</span></a><a href="http://dev.blogs.technet.redmond.corp.microsoft.com/b/MainFeed.aspx?Type=BlogsOnly"><img src="http://dev.blogs.technet.redmond.corp.microsoft.com/themes/TechNet/images/icon-rss.png" alt="RSS" style="border:0pt none;vertical-align:middle;float:right;margin-right:-9px;margin-top:4px;" /></a></p></div></div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom fiji-content-fragment-bottom"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div></div></div>
<div class="content-fragment activity-message-list no-wrapper-with-spacing" id="fragment-6196">
<div class="content-fragment-inner fiji-content-fragment-inner"><div class="content-fragment-top fiji-content-fragment-top"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div><div class="content-fragment-content">

<script src="http://dev.blogs.technet.redmond.corp.microsoft.com/rrcontent/e0b1ca3b9f72af83b0d9a5a05578edc9-e987f5f22d64ed6301a28fe51917b777-RequestReducedScript.js" type="text/javascript" ></script>

<script type="text/javascript">
    // <![CDATA[
    var Messages_ActivityMessageList_AjaxEndpoint = '/Utility/ContentFragments/Messages/ActivityMessageListAjax.asmx';
    var Messages_ActivityMessageList_ConfirmDeleteMessage = 'Are you sure you want to delete this activity message?';
    var Messages_ActivityMessageList_NoResults = 'No activity.';
    var Messages_ActivityMessageList_Error = 'There was an error while retrieving activity.';
    var Messages_ActivityMessageList_Loading = 'Loading activity...';

    var ctl00_content_ctl00_w_6196 = { "wrapperId": "fragment-6196", "variableName": "ctl00_content_ctl00_w_6196", "parameter": { "activityMessageHtmlBlock": "\r\n            <li class=\"content-item\" id=\"Message_{MessageId}\"> \r\n            <div class=\"full-post-header {Type} with-avatar\"></div>\r\n            <div class=\"full-post {Type} with-avatar\">\r\n\t\t\t\t{AvatarHtml}\r\n                <div class=\"post-content user-defined-markup\">\r\n                    {Message}\r\n                </div>\r\n\t\t\t\t<div class=\"post-attributes\">\r\n\t\t            <div class=\"attribute-list-header\"></div>\r\n                    <ul class=\"attribute-list\">\r\n                        <li class=\"attribute-item post-grouping-count\">\r\n                            <span class=\"attribute-value\">{DataGroupingCount}</span>\r\n                            <span class=\"attribute-name\"> like this</span>\r\n                        </li>\r\n                    </ul>\r\n                    <div class=\"attribute-list-footer\"></div>\r\n\t\t        </div>\r\n                <div class=\"post-date\">\r\n                    {DateCreated}\r\n                </div>\r\n                <div class=\"post-actions\">\r\n                    <div class=\"navigation-list-header\"></div>\r\n                    {MessageActionLinks}\r\n                    <div class=\"navigation-list-footer\"></div>\r\n                </div>\r\n            </div>\r\n            <div class=\"full-post-footer {Type} with-avatar\"></div>\r\n            <div id=\"InlineReply_{MessageId}\" style=\"display: none;\"></div>\r\n\t        </li>", "activityMessageReplyLinkBlock": "\r\n            <li class=\"navigation-item\">\r\n\t            <a id=\"InlineReplyLink_{MessageId}\" href=\"#\" onclick=\"Messages_ActivityMessageList_ShowReply(ctl00_content_ctl00_w_6196, '{MessageId}'); return false;\"> Reply</a>\r\n            </li>", "activityMessageDeleteLinkBlock": "\r\n            <li class=\"navigation-item\">\r\n\t            <a href=\"#\" onclick=\"Messages_ActivityMessageList_DeleteMessage(ctl00_content_ctl00_w_6196, '{MessageId}'); return false;\">Delete</a>\r\n            </li>", "replyMessageHtmlBlock": "\r\n            <li class=\"content-item reply reply_to_{ParentMessageId}\" id=\"Reply_{MessageId}\"> \r\n            <div class=\"full-post-header {Type} with-avatar\"></div>\r\n            <div class=\"full-post {Type} with-avatar\">\r\n\t\t\t\t{AvatarHtml}\r\n                <div class=\"post-content user-defined-markup\">\r\n                    {Message}\r\n                </div>\r\n                <div class=\"post-date\">\r\n                    {DateCreated}\r\n                </div>\r\n                <div class=\"post-actions\">\r\n                    <div class=\"navigation-list-header\"></div>\r\n                    {MessageActionLinks}\r\n                    <div class=\"navigation-list-footer\"></div>\r\n                </div>\r\n            </div>\r\n            <div class=\"full-post-footer {Type} with-avatar\"></div>\r\n\t        </li>", "replyMessageDeleteLinkBlock": "\r\n            <ul class=\"navigation-list\">\r\n\t            <li class=\"navigation-item\">\r\n\t\t            <a href=\"#\" onclick=\"Messages_ActivityMessageList_DeleteReply(ctl00_content_ctl00_w_6196, '{MessageId}', '{ParentMessageId}'); return false;\">Delete</a>\r\n                </li>\r\n            </ul>", "inlineReplyHtmlBlock": "\r\n        <div class=\"field-list-header\"></div>\r\n        <fieldset class=\"field-list\">\r\n        <ul class=\"field-list\">\r\n            <li class=\"field-item\">\r\n                <span class=\"field-item-input without-avatar\">\r\n                    <div class=\"fiji-reply-form\"><table width=\"100%\" cellpadding=\"0\" border=\"0\" cellspacing=\"0\"><tr><td class=\"fiji-reply\" width=\"100%\"><input type=\"text\" id=\"Input_{MessageId}\" maxlength=\"512\" class=\"ctl00_content_ctl00_w_6196_InlineReply\"  />\r\n                    </td><td class=\"fiji-reply-submit\"><a href=\"#\" onclick=\"Messages_ActivityMessageList_PostInlineReply(ctl00_content_ctl00_w_6196, '{MessageId}'); return false;\" class=\"ctl00_content_ctl00_w_6196_InlineReplyButton\">Post</a></td></tr></table></div>\r\n                </span>\r\n            </li>\r\n        </ul>\r\n        </fieldset>\r\n        <div class=\"field-list-footer\"></div>\r\n        ", "replyFormHtmlBlock": "\r\n            <li class=\"content-item reply\" id=\"NewReply_{MessageId}\"{Style}>\r\n            <div class=\"field-list-header\"></div>\r\n            <fieldset class=\"field-list\">\r\n                <ul class=\"field-list\">\r\n\t\t\t\t\t<li class=\"field-item\">\r\n\t\t\t\t\t\t<span class=\"field-item-input with-avatar\">\r\n\t\t\t\t\t\t\t{AvatarHtml}<div class=\"fiji-reply-form\"><table width=\"100%\" cellpadding=\"0\" border=\"0\" cellspacing=\"0\"><tr><td class=\"fiji-reply\" width=\"100%\"><input type=\"text\" id=\"ReplyInput_{MessageId}\" maxlength=\"512\" class=\"ctl00_content_ctl00_w_6196_Reply\" />\r\n\t\t\t\t\t\t\t</td><td class=\"fiji-reply-submit\"><a href=\"#\" onclick=\"Messages_ActivityMessageList_PostReply(ctl00_content_ctl00_w_6196, '{MessageId}'); return false;\" class=\"ctl00_content_ctl00_w_6196_ReplyButton\"> Post</a></td></tr></table></div>\r\n\t\t\t\t\t\t</span>\r\n\t\t\t\t\t</li>\r\n                </ul>\r\n            </fieldset>\r\n            <div class=\"field-list-footer\"></div>\r\n\t        </li>", "notificationHtmlBlock": "<div class=\"{MessageStyle}\">{Message}</div>", "dateHeaderHtmlBlock": "\r\n\t\t\t<div class=\"content-list-header\"></div>\r\n\t\t\t<div class=\"content-list-name\" id=\"ctl00_content_ctl00_w_6196_Date_{DayCode}\">{Date}</div>\r\n\t\t\t<ul class=\"content-list\" id=\"ctl00_content_ctl00_w_6196_messagelist_{DayCode}\">", "dateFooterHtmlBlock": "\r\n\t\t\t</ul>\r\n\t\t\t<div class=\"content-list-footer\"></div>", "userAvatarHtmlBlock": "\r\n\t\t\t<div class=\"post-author\">\r\n\t\t\t\t<span class=\"avatar\">{AvatarHtml}</span>\r\n\t\t\t</div>", "currentUserAvatarHtml": "<span class=\"avatar\"><img src=\"/utility/anonymous.gif\" alt=\"\" style=\"border-width:0px;max-height:27px;max-width:27px;\" /></span>", "groupID": 0, "includeSubGroups": false, "displayUserAvatars": true, "userID": 0, "pageSize": 10} };

    $(document).ready(function () {

        $(".ctl00_content_ctl00_w_6196_InlineReply", "#fragment-6196").live("keypress", function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                var tb = $(event.target);
                var ids = tb.attr('id').split('_');
                tb.blur();
                Messages_ActivityMessageList_PostInlineReply(ctl00_content_ctl00_w_6196, ids[ids.length - 1]);
            }
        });
        $(".ctl00_content_ctl00_w_6196_Reply", "#fragment-6196").live("keypress", function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                var tb = $(event.target);
                var ids = tb.attr('id').split('_');
                var mid = ids[ids.length - 1];
                tb.blur();
                Messages_ActivityMessageList_PostReply(ctl00_content_ctl00_w_6196, mid);
            }
        });

        // Load Messages
        if (typeof Messages_ActivityMessageList_Init !== 'undefined') { Messages_ActivityMessageList_Init(ctl00_content_ctl00_w_6196, 'AllActivityForAccessingUser', '', ''); }
    });

    // ]]>
</script>



<div id="ctl00_content_ctl00_w_6196_MessageListWrapper"></div>

<ul class="navigation-list" id="ctl00_content_ctl00_w_6196_MessageListPager">
    <li class="navigation-item">
        <a href="#" onclick="Messages_ActivityMessageList_More(ctl00_content_ctl00_w_6196); return false;">Show More</a>
    </li>
</ul>

<div id="ctl00_content_ctl00_w_6196_MessageListLoading" class="message loading">Loading activity...</div>
</div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom fiji-content-fragment-bottom"><div class="r1 fiji-r1"></div><div class="r2 fiji-r2"></div><div class="r3 fiji-r3"></div><div class="r4 fiji-r4"></div></div></div></div>
</div>
</div>
</div>
<div class="layout-footer"></div>
</div></div>

    <div class="footer-fragments-header"></div>
<div class="footer-fragments"><div class="footer-fragment copyright-info" id="footer-fragment-668884183">

<ul class="footer-fragment-links">
    <li class="message copyright">© 2011 Microsoft Corp.</li>
	<li class="message termsOfService"><a href="http://technet.microsoft.com/cc300389">Terms of Use</a> </li>
    <li class="message trademarks"><a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/en-us.mspx">Trademarks</a> </li>
    <li class="message privacy"><a href="http://www.microsoft.com/info/privacy.mspx">Privacy Statement</a> </li>
    <li class="message abuse">
    
            <a id="ctl00_footer_fragment_668884183__9e8b0d_ctl00_ctl00_ctl01_lnkAbuse" href="javascript:__doPostBack('ctl00$footer_fragment_668884183$_9e8b0d$ctl00$ctl00$ctl01$lnkAbuse','')">Report Abuse</a>
        
    </li>
    
    <li class="message version">5.6.915.0</li>
</ul></div><div class="footer-fragment omniture-footer-fragment" id="footer-fragment-668884184">


<script src="http://dev.blogs.technet.redmond.corp.microsoft.com/rrcontent/c9d04f77c80b37fe8f7756a1fb6748bf-8b4547e7a2f16d90faa762508b4cf82e-RequestReducedScript.js" type="text/javascript" ></script>
        <noscript><a href="http://www.omniture.com" title="Web Analytics"><img
        src="http://msstotnblogs.112.2O7.net/b/ss/msstotnblogs/1/H.20.2--NS/0"
        height="1" width="1" border="0" alt="" /></a></noscript>

</div></div>
<div class="footer-fragments-footer"></div>
    
<script type="text/javascript">
// <![CDATA[
    ctl00_content_ctl00 = new ContentFragmentPageCustomCallback('ctl00_content_ctl00', new Function('mode', 'parameters', 'callback', 'errorCallback', 'context', 'ctl00_content_ctl00_ctl00._doCallback(mode+\':\'+parameters,callback,context,errorCallback);'));
// ]]>
</script><script type="text/javascript">
// <![CDATA[
             Telligent_Modal.Configure('\/utility\/loading.htm', ['modal'], ['modal-title', 'modal-title-2', 'modal-title-3', 'modal-title-4'], ['modal-close'], ['modal-content', 'modal-content-2'], ['modal-footer', 'modal-footer-2', 'modal-footer-3'], ['modal-resize'], ['modal-mask'], 10000, false, true, true);
// ]]>
</script><script type="text/javascript">
// <![CDATA[
             window.ctl00_header_fragment_668884188__9e8b0d_ctl00_SearchPopup = new Telligent_PopupPanel('ctl00_header_fragment_668884188__9e8b0d_ctl00_SearchPopup', 'menu search-content results', 'downright', 100, null, null, true, 'ctl00_header_fragment_668884188__9e8b0d_ctl00_SearchPopup', null, null);
// ]]>
</script><script type="text/javascript">
// <![CDATA[
             window.ctl00_content_ctl00_ctl00 = new Telligent_CallbackManager('ctl00_content_ctl00_ctl00', 'ctl00$content$ctl00$ctl00', 'aspnetForm');
// ]]>
</script></form>
    
    <script type="text/javascript">
        $(window).load(function () {
            $.getScript('http://ctpwidgets.redmond.corp.microsoft.com/v1/loader.js?brand=msdn&lang=en-US', function () {
            });
        });
    </script>
    

        <script type="text/javascript">            $('div.breadcrumb-list span:last a').addClass('last');</script></body>
</html>