


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head><meta http-equiv="X-UA-Compatible" content="IE=9; IE=8" /><meta name="robots" content="index,follow" />
<meta name="GENERATOR" content="Telligent Community 5.6.583.19199 (Build: 5.6.583.19199)" />
<link rel="pingback" href="http://blogs.msdn.com/b/mattwrock/pingback.aspx" />
<link rel="alternate" type="application/rss+xml" title="Site Home (RSS 2.0)" href="http://blogs.msdn.com/rss.aspx"  />
<link rel="alternate" type="application/rss+xml" title="Matt Wrock&#39;s Comments (RSS 2.0)" href="http://blogs.msdn.com/members/Matt-Wrock/comments/rss.aspx"  />
<link rel="alternate" type="application/rss+xml" title="Matt Wrock&#39;s Activities (RSS 2.0)" href="http://blogs.msdn.com/members/Matt-Wrock/activities/rss.aspx"  />
<link rel="alternate" type="application/rss+xml" title="Activities of People Matt Wrock Follows (RSS 2.0)" href="http://blogs.msdn.com/members/Matt-Wrock/activities/followersrss.aspx"  />
<link rel="alternate" type="application/rss+xml" title="Matt Wrock&#39;s Groups Activities (RSS 2.0)" href="http://blogs.msdn.com/members/Matt-Wrock/activities/groupsrss.aspx"  />
<link rel="alternate" type="application/rss+xml" title="Matt Wrock&#39;s Blog (RSS 2.0)" href="http://feeds.feedburner.com/Wrockblog"  />
<link rel="alternate" type="application/rss+xml" title="Matt Wrock&#39;s Blog - All Comments (RSS 2.0)" href="http://blogs.msdn.com/b/mattwrock/rsscomments.aspx"  />
<link rel="alternate" type="application/rss+xml" title="Adopt RequestReduce and see immediate Yslow and Google Page Speed score improvements not to mention a faster site! - Comments for this post (RSS 2.0)" href="http://blogs.msdn.com/b/mattwrock/rsscomments.aspx?WeblogPostID=10208993"  />

            <link rel="stylesheet" href="http://blogs.msdn.com/themes/generic/css/layout.css" type="text/css" media="screen" />
        
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <link rel="shortcut icon" type="image/ico" href="http://blogs.msdn.com/themes/MSDN2/favicon.ico" />
          <link type="text/css" rel="stylesheet" href="http://blogs.msdn.com/themes/MSDN2/css/screen.css" media="screen,print" />
          <link type="text/css" rel="stylesheet" href="http://blogs.msdn.com/themes/blogs/MSDN2/css/MSDNblogs.css" media="screen,print" />
        
          <link type="text/css" rel="stylesheet" href="http://blogs.msdn.com/themes/MSDN2/css/DynamicStyle.aspx?PreviewKey=0" media="screen,print" />
          <link type="text/css" rel="stylesheet" href="http://blogs.msdn.com/themes/blogs/MSDN2/css/DynamicStyle.aspx?WeblogID=14258&PreviewKey=0" media="screen,print" />
        
          <!--[if lte IE 6]>
              <link type="text/css" rel="stylesheet" href="http://blogs.msdn.com/themes/MSDN2/css/ie6.css" media="screen,print" />
          <![endif]-->
          <link type="text/css" rel="stylesheet" href="http://blogs.msdn.com/themes/MSDN2/css/print.css" media="print" />
        <meta name="msvalidate.01" content="B717AD6FC29D3A844832AF011B5F9E4C" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://blogs.msdn.com/b/mattwrock/rsd.ashx" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" title="WLWManifest" href="http://blogs.msdn.com/b/mattwrock/wlwmanifest.ashx" />
<title>
	Adopt RequestReduce and see immediate Yslow and Google Page Speed score improvements not to mention a faster site! - Matt Wrock&#39;s Blog - Site Home - MSDN Blogs
</title></head>
	<body spellcheck="true">
		<form name="aspnetForm" method="post" action="/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="aspnetForm">
<div>
<input type="hidden" name="ctl00_content_ctl00_w_54781__da3c65_ctl00_ctl00_ctl00_ctl05_bpCommentForm_ctl05_invisibleCaptcha_answer" id="ctl00_content_ctl00_w_54781__da3c65_ctl00_ctl00_ctl00_ctl05_bpCommentForm_ctl05_invisibleCaptcha_answer" value="" />
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTM5OTAxNDYyNWRkvI787cXLvh9XHlDReEjVejxzcZ4=" />
</div>

<script type="text/javascript">
//<![CDATA[
    var theForm = document.forms['aspnetForm'];
    if (!theForm) {
        theForm = document.aspnetForm;
    }
    function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.__EVENTTARGET.value = eventTarget;
            theForm.__EVENTARGUMENT.value = eventArgument;
            theForm.submit();
        }
    }
//]]>
</script>


<script src="http://blogs.msdn.com/WebResource.axd?d=Z2cQcTXWgTIacDQe5RRNWmFyimLHJt8vzSXe1uPSng4eqr0myJHiayeAq1crklEPpVKsHC4W0kCtInsSLWolE5Uo5p41&amp;t=634505630844947134" type="text/javascript"></script>


<script src="http://blogs.msdn.com/WebResource.axd?d=SOm_d8KPCvLZqYHrhruKr9DdER9uVeTCF1FNDrQsmkkW6AGoFUpVPsp_sTVI0yBnuCqmAGaw9mn1GN6KHTm-O-scKjBDPWhJUPaoE5GX-W_PceNeDrCYaZsBFYwMz8SJcVcGWXF1earb2kCelpGh_yHCFNurOjx3n2A7T22-FJOIrny2temFXRG8ehi8UGCKQTTzSM4cj0CEdSfmhseuKk27Fmk1&amp;t=634526465538100004" type="text/javascript"></script>
<script src="http://blogs.msdn.com/WebResource.axd?d=X_bemaoIL4hjGUz9ZLneLqw-9c9VLtsWZNcpFAvJZjyKqy0p35kk2J5MVTgZ0_e7dzVplzG4gPuhYGCSEZ9_2V48ALIbJSP67YqRe_uBJ_EZoaemm2d7CXOUW-nZ8_pxnmZG0zD-4rwjao05LtAkIZm3fBDpXoPLWyORtmFV3KS69tTk0&amp;t=634526465544042596" type="text/javascript"></script>
<script src="http://blogs.msdn.com/WebResource.axd?d=3GU3tjSEW1ECXKvAUZHsxDFAslEZgbJjoLfCXBVUTswP5j5YYgW1hzjXqjzKD2dwNn0_t62E4VjYXqkzlUOlcdFK8Z_Brbo2xSEHJwdXoWqZ2JKysmKSDqwNmwzMbkFAkkWixyHGSjXGuv05u78Pi5NT0vd1V1i0XAu44rGfRSX4FePt0&amp;t=634526465544042596" type="text/javascript"></script>
<script src="http://blogs.msdn.com/WebResource.axd?d=ZNAKjLeYJhqT_oJ98OwZwVJzbm3UJOEc5LdYje7ix7F87IHOHrdtwh0VGbHW1w50Wi1G774JMTJOjcODrws7U3QA83DLFF0NxSeh0X7TA1drh1FHRbbpemnlRUet9k4QWDfNyUfoZvWBZm4x8hX6igDXjctw10e4qulgpzBxItVQN2eu0&amp;t=634526465538100004" type="text/javascript"></script>
<script src="http://blogs.msdn.com/WebResource.axd?d=-I9opVMlYERsOWADr5Ja4RssDj9bjzJHgxNjPQ9OjvoFh9msYez2FDTy088QYu1C72c0WsRQFRwLvbjkl5W-5nUXl_DP64ke9Lcb62qn5BUa-Pc2HN1pvm_BxvRFy0R5YH4IK1QyICM_8SECrbjcS3m5T6W1PwtrsEZAgYO-WlfqJYLwakPjAePpK_rDp4hCPrtBXA2&amp;t=634526465544042596" type="text/javascript"></script>
<script src="http://blogs.msdn.com/WebResource.axd?d=HaOPiNm1e0sLVdYesQz9mxWwGXMPQMB4pwvUsGB8ZJGyRNswfv6H9HTF-JKe-U2Y1vxDijsXcYELa58DHCNpyH_92CgFm0Ufhn79o8ERhzVbFsOVbA3l7FI1LLkkpikqzv90nK2u1s9OJzHVD9CVAFXD88fLNAeJyjBJ4gdZzh9UGdLy0&amp;t=634526465538100004" type="text/javascript"></script><script type="text/javascript" src="http://blogs.msdn.com/utility/jquery/jquery-1.5.2.min.js"></script><script type="text/javascript" src="http://blogs.msdn.com/utility/jquery/autoresize.jquery.min.js"></script>
<script src="http://blogs.msdn.com/WebResource.axd?d=ahlDYNbDLqewiDAWERYywUOtVFS2G5LIDpqT1GeuLSeL9pZ00_hrjGdFvqY_kyCXvYVPgnStzP15cHQkWAzWlCzgdszLOoROgHYM-Q8BV8Z6UyC80&amp;t=634505630844947134" type="text/javascript"></script>
<script src="http://blogs.msdn.com/WebResource.axd?d=5h4uDIKw0jfgLvo3lCMA-4uYbYFLjWH-CYL_-M2qsXt9DrFoEenc0y52xIhQOIuH3vbY259X3nftMHddV3CFRlcHaaTZaWGgUpmuHdITXpKI9rvCcKFLHbyvpaIOj0Z3daJZkb5OxqyK8MexioOup8dp9HMMcUIaOaV45OQR7pBZLMmbWyMtl_nN2Z62vnk7be3DkGA0e424SusmrWa2Gh69sQk1&amp;t=634526465538881924" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
    function WebForm_OnSubmit() {
        if (typeof (ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
        return true;
    }
//]]>
</script>

			
            
                
            
            <div class="header-fragments-header"></div>
<div class="header-fragments"><div class="header-fragment-outer top-bar msdn-header-fragment-outer msdn-top-bar"><div class="header-fragment-inner top-bar msdn-header-fragment-inner msdn-top-bar"><div class="header-fragment welcome-message" id="header-fragment-1402503690">


<!-- always render -->
</div><div class="header-fragment login-logout" id="header-fragment-1402503691">





        <div class="navigation-list-header"></div>
        <ul class="navigation-list">

            <li class="navigation-item">
                <span id="ctl00_header_fragment_1402503691__da3c65_ctl00_ctl02_ctl05_WLIDLoginButton1" class="internal-link live-id-button"><a href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=11&ct=1318463110&rver=6.0.5286.0&wp=MBI&wreply=http:%2F%2Fblogs.msdn.com%2Fb%2Fmattwrock%2Farchive%2F2011%2F09%2F10%2Fadopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&lc=1033&id=271611">Sign In</a></span>
            </li>
        </ul>
        <div class="navigation-list-footer"></div>
    </div><div class="header-fragment user-welcome-without-login" id="header-fragment-1402503692">

 &nbsp;<!-- always render -->

</div></div></div><div class="header-fragment blog-banner" id="header-fragment-1402503693">



<div class="site-banner blog-banner">

<h1 class="blog-banner-name"><a href="http://blogs.msdn.com/b/mattwrock/">Matt Wrock&#39;s Blog</a></h1>

</div>

</div></div>
<div class="header-fragments-footer"></div>
			
    <div class="content-fragment-page post" id="ctl00_content_ctl00_page"><div class="layout">
<div class="layout-header"></div>
<div class="layout-content content-left-sidebar-right" id="ctl00_content_ctl00_layout">
<div class="layout-region right-sidebar" id="ctl00_content_ctl00_right-sidebar">
<div class="layout-region-inner right-sidebar"><div class="content-fragment link-list no-wrapper-with-spacing" id="fragment-54771">
<div class="content-fragment-inner msdn-content-fragment-inner"><div class="content-fragment-top msdn-content-fragment-top"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div><div class="content-fragment-content">

        <div class="content-list-header"></div>
        <div class="content-list-name">Matt's Open Source Projects</div>
        <ul class="content-list">
            
                    <li class="content-item">
                        <div class="full-post-header"></div>
                        <div class="full-post">
                            <h3 class="post-name"><a class="external-link view-post" href="http://RequestReduce.com"><span></span>RequestReduce</a></h3>
                            <div class="post-content user-defined-markup">On the fly CSS merging, minification, and Spriting Module</div>
                        </div>
                        <div class="full-post-footer"></div>
                    </li>
                
                    <li class="content-item">
                        <div class="full-post-header"></div>
                        <div class="full-post">
                            <h3 class="post-name"><a class="external-link view-post" href="http://nquant.codeplex.com"><span></span>nQuant</a></h3>
                            <div class="post-content user-defined-markup">.net 8 bit PNG Color Quantizer</div>
                        </div>
                        <div class="full-post-footer"></div>
                    </li>
                
        </ul>
        <div class="content-list-footer"></div>
    </div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom msdn-content-fragment-bottom"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div></div></div>
<div class="content-fragment blog-links no-wrapper-with-spacing with-header" id="fragment-54772">
<div class="content-fragment-inner msdn-content-fragment-inner"><div class="content-fragment-top msdn-content-fragment-top"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div><div class="content-fragment-header"><div>Options</div></div>
<div class="content-fragment-content">

		<div class="navigation-list-header"></div>
		<ul class="navigation-list">
	<li class="navigation-item"><a class="internal-link view-application" href="http://blogs.msdn.com/b/mattwrock/"><span></span>Blog Home</a></li><li class="navigation-item"><a class="internal-link view-contact" href="http://blogs.msdn.com/b/mattwrock/contact.aspx"><span></span>Email Blog Author</a></li><li class="navigation-item"><a class="internal-link email-post" href="mailto:?subject=Adopt RequestReduce and see immediate Yslow and Google Page Speed score improvements not to mention a faster site!&amp;body=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx">
		<span></span>Share this
	</a></li><li class="navigation-item"><a class="internal-link rss" href="http://feeds.feedburner.com/Wrockblog"><span></span>RSS for posts</a></li><li class="navigation-item"><a class="internal-link rss" href="http://feeds.feedburner.com/Wrockblog"><span></span>Atom</a></li><li id=""RssComments""" class="navigation-item"><a class="internal-link rss" href="http://blogs.msdn.com/b/mattwrock/rsscomments.aspx"><span></span>RSS for comments</a></li>
		</ul>
		<div class="navigation-list-footer"></div>
	</div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom msdn-content-fragment-bottom"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div></div></div>
<div class="content-fragment search-form no-wrapper-with-spacing with-header" id="fragment-54773">
<div class="content-fragment-inner msdn-content-fragment-inner"><div class="content-fragment-top msdn-content-fragment-top"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div><div class="content-fragment-header"><div>Search</div></div>
<div class="content-fragment-content">



        <div class="field-list-header"></div>
        <fieldset class="field-list">
            <ul class="field-list">
                <li class="field-item search">
                    <div>
                         <span class="field-item-input"><input name="ctl00$content$ctl00$w_54773$_da3c65$ctl00$ctl01$ctl01$Keywords" type="text" maxlength="64" size="45" id="ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_Keywords" onfocus="if(this.defaultValue==this.value) this.value='';" onblur="if(this.value=='') this.value=this.defaultValue;" /></span>
                    </div>
                    <span id="ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_Validator" style="color:Red;display:none;"><span class="field-item-validation">*</span></span>


                    <a href="#" onclick="ToggleAdvancedSearch(ctl00_content_ctl00_w_54773, this)" id="ctl00_content_ctl00_w_54773_AdvancedOptions" class="internal-link advanced-search"><span></span>Advanced search options...</a>
                </li>
                <li class="field-item search-type">
                    <label for="ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_ContentTypes" class="field-item-header">Search In:</label>
                    <span class="field-item-input">
                        <select name="ctl00$content$ctl00$w_54773$_da3c65$ctl00$ctl01$ctl01$ContentTypes" id="ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_ContentTypes">
	<option value="">Everything</option>
	<option value="blog">Blogs</option>
	<option value="forum">Forums</option>
	<option value="user">People</option>
	<option value="group">Groups</option>
	<option value="fileapp,forumapp,blogapp,wikiapp">Places</option>
	<option value="page">Pages</option>

</select>
                    </span>
                </li>
                <li class="field-item date-range">
                    <label for="ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_DatingBackTo" class="field-item-header">Date range:</label>
                    <span class="field-item-input"><select name="ctl00$content$ctl00$w_54773$_da3c65$ctl00$ctl01$ctl01$DatingBackTo" id="ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_DatingBackTo">
	<option value="-1">All Time</option>
	<option value="-365">Last Year</option>
	<option value="-185">Last 6 Months</option>
	<option value="-95">Last 3 Months</option>
	<option value="-35">Last Month</option>
	<option value="-7">Last Week</option>
	<option value="-2">Last Two Days</option>

</select></span>
                </li>
                
                <li class="field-item searchbutton">
                    <span class="field-item-input"><a id="ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_SearchButton" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$content$ctl00$w_54773$_da3c65$ctl00$ctl01$ctl01$SearchButton&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Search</a></span>
                </li>
            </ul>
        </fieldset>
        <div class="field-list-footer">
            <span style="display:inline-block"><input type="radio" name="SearchTypeRadio" value="ThisBlog" id="ThisBlog" checked /><label for="ThisBlog" id="ThisBlogText">Search this blog</label></span>
            <span style="display:inline-block"><input type="radio" name="SearchTypeRadio" value="AllBlogs" id="AllBlogs" /><label for="AllBlogs" id="AllBlogsText">Search all blogs</label></span>
        </div>

    


<script type="text/javascript">

    // Hide the radio buttons and text if we aren't on a blog
    $(document).ready(function () {

        // try to get the blog id, if we fail, then we aren't on a blog and just use the regular search approach       
        var sectionID = 14258;

        if (sectionID == -1) {
            var tbObj = document.getElementById("ThisBlog");
            var tbObjText = document.getElementById("ThisBlogText");
            var abObj = document.getElementById("AllBlogs");
            var abObjText = document.getElementById("AllBlogsText");

            if (tbObj != 'undefined' && abObj != 'undefined' && abObjText != 'undefined' && tbObjText != 'undefined') {
                tbObj.style.display = 'none';
                tbObjText.style.display = 'none';
                abObj.style.display = 'none';
                abObjText.style.display = 'none';
            }
        }
    }
);

    // Setup on keypress event for the search box     
    var ctl00_content_ctl00_w_54773 = { "wrapperId": "fragment-54773", "variableName": "ctl00_content_ctl00_w_54773", "parameter": { "keywords": "ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_Keywords", "search": "ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_SearchButton"} };

    $("#" + ctl00_content_ctl00_w_54773.parameter.keywords).bind("keypress", function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            var tb = $(event.target);
            tb.blur();

            // try to get the blog id, if we fail, then we aren't on a blog and just use the regular search approach       
            var sectionID = 14258;
            if (sectionID != -1 && document.getElementById("ThisBlog").checked == true) {
                window.location = "/search/SearchResults.aspx?q=" + encodeURIComponent($("#" + ctl00_content_ctl00_w_54773.parameter.keywords).attr("value")) + "&sections=" + sectionID;
            }
            else {
                window.location = $("#" + ctl00_content_ctl00_w_54773.parameter.search).attr("href");
            }
        }
    });

    function ToggleAdvancedSearch(context, e) {
        var wrapper = $("#" + context.wrapperId);
        var advancedSearchLink = $("#" + context.variableName + "_AdvancedOptions", wrapper);
        if (advancedSearchLink.text() == 'Advanced search options...') {
            advancedSearchLink.text('Hide advanced options...');
            $("ul.field-list", wrapper).addClass('advanced-search advanced-search__field-list');
        }
        else {
            advancedSearchLink.text('Advanced search options...');
            $("ul.field-list", wrapper).removeClass('advanced-search advanced-search__field-list');
        }
    }
</script></div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom msdn-content-fragment-bottom"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div></div></div>
<div class="content-fragment blog-archive-list no-wrapper-with-spacing with-header" id="fragment-54774">
<div class="content-fragment-inner msdn-content-fragment-inner"><div class="content-fragment-top msdn-content-fragment-top"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div><div class="content-fragment-header"><div>Archive</div></div>
<div class="content-fragment-content">

		<div class="content-list-header"></div>
		<div class="content-list-name">Archives</div>
		<ul class="content-list">
	
		<li class="content-item"><a class="internal-link view-post-archive-list" href="http://blogs.msdn.com/b/mattwrock/archive/2011/09.aspx">September 2011</a> (8)</li>
	
		<li class="content-item"><a class="internal-link view-post-archive-list" href="http://blogs.msdn.com/b/mattwrock/archive/2011/07.aspx">July 2011</a> (4)</li>
	
		<li class="content-item"><a class="internal-link view-post-archive-list" href="http://blogs.msdn.com/b/mattwrock/archive/2011/01.aspx">January 2011</a> (1)</li>
	
		<li class="content-item"><a class="internal-link view-post-archive-list" href="http://blogs.msdn.com/b/mattwrock/archive/2010/12.aspx">December 2010</a> (1)</li>
	
		<li class="content-item"><a class="internal-link view-post-archive-list" href="http://blogs.msdn.com/b/mattwrock/archive/2009/10.aspx">October 2009</a> (3)</li>
	
		<li class="content-item"><a class="internal-link view-post-archive-list" href="http://blogs.msdn.com/b/mattwrock/archive/2009/09.aspx">September 2009</a> (3)</li>
	
		</ul>
		<div class="content-list-footer"></div>
	
</div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom msdn-content-fragment-bottom"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div></div></div>
</div>
</div>
<div class="layout-region content" id="ctl00_content_ctl00_content">
<div class="layout-region-inner content"><div class="content-fragment blog-title full-border" id="fragment-54776">
<div class="content-fragment-inner msdn-content-fragment-inner"><div class="content-fragment-top msdn-content-fragment-top"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div><div class="content-fragment-content">
<h1 class="title">
	    
			        
			    
	                Adopt RequestReduce and see immediate Yslow and Google Page Speed score improvements not to mention a faster site!
			    
	</h1></div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom msdn-content-fragment-bottom"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div></div></div>
<div class="content-fragment blog-bread-crumbs no-wrapper" id="fragment-54777">
<div class="content-fragment-inner msdn-content-fragment-inner"><div class="content-fragment-top msdn-content-fragment-top"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div><div class="content-fragment-content">


<div class="breadcrumb-list-header"></div>
<div class="breadcrumb-list">
	<span class="breadcrumb-item"><a class="internal-link view-home" href="http://blogs.msdn.com/">MSDN Blogs</a></span>
  
	

	
			<span class="separator"> > </span>
			<span class="breadcrumb-item">
		<a href="http://blogs.msdn.com/b/mattwrock/">Matt Wrock&#39;s Blog</a>
			</span>
		
	
	
			<span class="separator"> > </span>
			<span class="breadcrumb-item">
		<a href="http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx">Adopt RequestReduce and see immediate Yslow and Google Page Speed score improvements not to mention a faster site!</a>
			</span>
		

	
</div>
<div class="breadcrumb-list-footer"></div>
</div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom msdn-content-fragment-bottom"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div></div></div>
<div class="content-fragment blog-post no-wrapper" id="fragment-54778">
<div class="content-fragment-inner msdn-content-fragment-inner"><div class="content-fragment-top msdn-content-fragment-top"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div><div class="content-fragment-content">

<div class="full-post-header"></div>
<div class="full-post">
	<h3 class="post-name">Adopt RequestReduce and see immediate Yslow and Google Page Speed score improvements not to mention a faster site!</h3>
	
    <div class="post-author" >
        <span class="avatar"><a href="http://blogs.msdn.com/330320/ProfileUrlRedirect.ashx"><img src="http://i1.social.s-msft.com/profile/u/avatar.jpg?displayname=matt+wrock&amp;size=large" alt="" style="border-width:0px;max-height:32px;max-width:32px;" /></a></span>
        
         <span class="profile-usercard-hover" data-profile-userid="fc27372b-4e4b-4400-9db2-a3e432daf7a9">
            <span class="user-name"><a class="internal-link view-user-profile" href="http://blogs.msdn.com/330320/ProfileUrlRedirect.ashx"><span></span>Matt Wrock</a></span>
       
            
        </span>
    </div>
    <div class="post-date">
        <span class="value">
            10 Sep 2011 1:08 PM
        </span>
    </div>
    <div class="post-attributes">
        <div class="attribute-list-header"></div>
        <ul class="attribute-list">
             <li class="attribute-item post-reply-count">
                <span class="attribute-name">Comments</span>
                <span class="attribute-value"><a href="#comments" class="internal-link view-replies"><span></span>0</a></span>
             </li>
        </ul>
        <div class="attribute-list-footer"></div>
    </div>
    <div class="post-content user-defined-markup">Since March I have been working in my “free” time on a framework to reduce the number and size of HTTP requests incurred from loading a web page. I’m starting by addressing requests related to CSS.&#160; In August I had something solid enough to push <a href="http://mattwrock.com/post/2011/09/10/Adopt-RequestReduce-and-see-immediate-Yslow-and-Google-Page-Speed-score-improvements-not-to-mention-a-faster-site!.aspx">...read more</a><div style="clear:both;"></div></div>
    <div class="post-attachment-viewer">
		
    </div>
    <div class="post-actions">
        <div class="navigation-list-header"></div>
        <ul class="navigation-list">
            <!---->
            <li class="navigation-item"><a class="internal-link view-replies" href="http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx#comments"><span></span>0 Comments</a></li>
            <li class="navigation-item">Read the complete post at <a href="http://mattwrock.com/post/2011/09/10/Adopt-RequestReduce-and-see-immediate-Yslow-and-Google-Page-Speed-score-improvements-not-to-mention-a-faster-site!.aspx">http://mattwrock.com/post/2011/09/10/Adopt-RequestReduce-and-see-immediate-Yslow-and-Google-Page-Speed-score-improvements-not-to-mention-a-faster-site!.aspx</a></li>
            
        </ul>
        <div class="navigation-list-footer"></div>
    </div>
    
</div>
<div class="full-post-footer"></div></div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom msdn-content-fragment-bottom"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div></div></div>
<div class="content-fragment social-media-sharing no-wrapper" id="fragment-54779">
<div class="content-fragment-inner msdn-content-fragment-inner"><div class="content-fragment-top msdn-content-fragment-top"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div><div class="content-fragment-content">

<link href="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/resources/sharethis.css" rel="stylesheet" type="text/css" /> 
<script src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/resources/ShareThis.js" type="text/javascript"></script>
<div class="ShareThisMainPanel">
	<div id="ctl00_content_ctl00_w_54779__da3c65_ctl00_6595acd1_c1f1_4223_a018_df3993469f16" class="ShareThis_ChildRootPanel" onmouseover="ShareThisChildRootPanelOnmouseOver(this.id);" onmouseout="ShareThisChildRootPanelOnmouseOut(this.id);">
		<div id="ctl00_content_ctl00_w_54779__da3c65_ctl00_ShareThisBtnCollPanel_d666e3983901468eb0322103c50e4b90" class="tierOnePanel">
			<div class="buttonPanel">
				<a title="Share on Facebook" class="iconsOnPanel" href="http://www.facebook.com/sharer.php?u=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;t=TITLE_REPLACE" target="_blank"><img title="Share on Facebook" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/facebook.gif" style="border-width:0px;" /></a>
			</div><div class="buttonPanel">
				<a title="Share on Twitter" class="iconsOnPanel" href="http://twitter.com/home?status=TITLE_REPLACE : http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx" target="_blank"><img title="Share on Twitter" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/twitter.gif" style="border-width:0px;" /></a>
			</div><div class="buttonPanel">
				<a title="Share on Digg" class="iconsOnPanel" href="http://digg.com/submit?url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE" target="_blank"><img title="Share on Digg" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/digg.gif" style="border-width:0px;" /></a>
			</div><div class="buttonPanel">
				<a title="Share on del.icio.us" class="iconsOnPanel" href="http://del.icio.us/post?url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE" target="_blank"><img title="Share on del.icio.us" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/delicious.gif" style="border-width:0px;" /></a>
			</div><div class="buttonPanel">
				<a title="Share on LinkedIn" class="iconsOnPanel" href="http://www.linkedin.com/shareArticle?mini=true&amp;ro=true&amp;url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE&amp;summary=&amp;source=Microsoft&amp;armin=armin" target="_blank"><img title="Share on LinkedIn" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/linkedin.gif" style="border-width:0px;" /></a>
			</div>
		</div><div id="ctl00_content_ctl00_w_54779__da3c65_ctl00_ShareThisBtnCollPanel_bd33911ceb8c44fa813685531888617a" class="tierTwoPanel" onclick="TierTwoPanelOnclick(this.id);" onkeypress="if (event.keyCode == 13) TierTwoPanelOnclick(this.id);" onmouseover="TierTwoPanelOnmouseOver(this.id);" onmouseout="TierTwoPanelOnmouseOut(this.id);">
			<div id="ctl00_content_ctl00_w_54779__da3c65_ctl00_ShareThisBtnCollPanel_9ca0a93e35a546d192d20f9b9b2d49d4" class="tierTwoRowPanel">
				<div class="buttonPanel">
					<a title="Share on Reddit" class="iconsOnPanel" href="http://www.reddit.com/submit?url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE" target="_blank"><img title="Share on Reddit" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/reddit.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on Slashdot" class="iconsOnPanel" href="http://slashdot.org/bookmark.pl?url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE" target="_blank"><img title="Share on Slashdot" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/slashdot.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on MySpace" class="iconsOnPanel" href="http://www.myspace.com/Modules/PostTo/Pages/?u=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;t=TITLE_REPLACE" target="_blank"><img title="Share on MySpace" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/myspace.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on Windows Live Spaces" class="iconsOnPanel" href="http://spaces.live.com/BlogIt.aspx?Title=TITLE_REPLACE&amp;SourceURL=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx" target="_blank"><img title="Share on Windows Live Spaces" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/livefavorites.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on Blogmarks" class="iconsOnPanel" href="http://blogmarks.net/my/new.php?mini=1&amp;simple=1&amp;url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE&amp;content=" target="_blank"><img title="Share on Blogmarks" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/blogmarks.gif" style="border-width:0px;" /></a>
				</div>
			</div><div id="ctl00_content_ctl00_w_54779__da3c65_ctl00_ShareThisBtnCollPanel_2d71b3122aed48358cf6e038a847a54d" class="tierTwoRowPanel">
				<div class="buttonPanel">
					<a title="Share on Diigo" class="iconsOnPanel" href="http://www.diigo.com/post?url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE&amp;desc=" target="_blank"><img title="Share on Diigo" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/diigo.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on Fark" class="iconsOnPanel" href="http://www.fark.com/cgi/farkit.pl?u=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;h=TITLE_REPLACE" target="_blank"><img title="Share on Fark" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/fark.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on Faves" class="iconsOnPanel" href="http://faves.com/Authoring.aspx?u=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;t=TITLE_REPLACE" target="_blank"><img title="Share on Faves" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/faves.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on Technorati" class="iconsOnPanel" href="http://technorati.com/faves/?add=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx" target="_blank"><img title="Share on Technorati" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/technorati.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on FriendFeed" class="iconsOnPanel" href="http://friendfeed.com/?url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE" target="_blank"><img title="Share on FriendFeed" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/friendfeed.gif" style="border-width:0px;" /></a>
				</div>
			</div><div id="ctl00_content_ctl00_w_54779__da3c65_ctl00_ShareThisBtnCollPanel_23188b0785b6403a89c6e1818a2c5b21" class="tierTwoRowPanel">
				<div class="buttonPanel">
					<a title="Share on Windows Live Favorites" class="iconsOnPanel" href="http://favorites.live.com/quickadd.aspx?url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE" target="_blank"><img title="Share on Windows Live Favorites" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/livefavorites.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on Mixx" class="iconsOnPanel" href="http://www.mixx.com/submit?page_url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx" target="_blank"><img title="Share on Mixx" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/mixx.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on Newsvine" class="iconsOnPanel" href="http://www.newsvine.com/_tools/seed&amp;save?u=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;h=TITLE_REPLACE&amp;s=" target="_blank"><img title="Share on Newsvine" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/newsvine.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on StumbleUpon" class="iconsOnPanel" href="http://www.stumbleupon.com/submit?url=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE" target="_blank"><img title="Share on StumbleUpon" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/stumbleupon.gif" style="border-width:0px;" /></a>
				</div><div class="buttonPanel">
					<a title="Share on Google" class="iconsOnPanel" href="http://www.google.com/bookmarks/mark?op=add&amp;bkmk=http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx&amp;title=TITLE_REPLACE" target="_blank"><img title="Share on Google" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/google.gif" style="border-width:0px;" /></a>
				</div>
			</div>
		</div>
	</div><div id="ctl00_content_ctl00_w_54779__da3c65_ctl00_ShowMoreLessButtonsPanel_85fdaa94_1b0c_474a_a79a_e5c456870b3b" tabindex="1" class="ShowMoreLessButtonsPanel" onclick="ShowMoreLessButtonsPanelOnClick(this.id);" onkeypress="if (event.keyCode == 13) ShowMoreLessButtonsPanelOnClick(this.id);" onmouseover="ShowMoreLessButtonsPanelOnmouseOver(this.id);" onmouseout="ShowMoreLessButtonsPanelOnmouseOut(this.id);">
		<a class="buttonMoreLess" id="btn_more"><img title="More" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/more.gif" src="" style="border-width:0px;" /></a><a class="buttonMoreLess" id="btn_less"><img title="Less" src="http://blogs.msdn.com/CustomWidgets/SocialMediaSharingUC/Resources/less.gif" src="" style="border-width:0px;" /></a>
	</div>
</div><div class="ShareClearFloatsPanel">

</div></div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom msdn-content-fragment-bottom"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div></div></div>
<div class="content-fragment blog-feedback-list no-wrapper with-header" id="fragment-54780">
<div class="content-fragment-inner msdn-content-fragment-inner"><div class="content-fragment-top msdn-content-fragment-top"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div><div class="content-fragment-header"><div>Blog - Comment List MSDN TechNet</div></div>
<div class="content-fragment-content">




<script type="text/javascript">
	// <![CDATA[
    $(document).ready(function () {
        $(document).bind('telligent_blogs_commentposted', function (e, message) {
            window.setTimeout(new Function(ctl00_content_ctl00_w_54780__da3c65_ctl00_ctl00_ctl02_ctl05_DelayedFeedbackList.Reload()), 100);
            return true;
        });
        ctl00_content_ctl00_w_54780__da3c65_ctl00_ctl00_ctl02_ctl05_DelayedFeedbackList.Reload();
    });
// ]]>
</script>

	

</div>
<div class="content-fragment-footer"></div>
<div class="content-fragment-bottom msdn-content-fragment-bottom"><div class="r1 msdn-r1"></div><div class="r2 msdn-r2"></div><div class="r3 msdn-r3"></div><div class="r4 msdn-r4"></div></div></div></div>
<div id="fragment-54781"></div>
</div>
</div>
</div>
<div class="layout-footer"></div>
</div></div>

			<div class="footer-fragments-header"></div>
<div class="footer-fragments"><div class="footer-fragment copyright-info" id="footer-fragment-1402503690">

<ul class="footer-fragment-links">
    <li class="message copyright">© 2011 Microsoft Corporation.</li>
	<li class="message termsOfService"><a href="http://msdn.microsoft.com/cc300389">Terms of Use</a> </li>
    <li class="message trademarks"><a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/en-us.mspx">Trademarks</a> </li>
    <li class="message privacy"><a href="http://www.microsoft.com/info/privacy.mspx">Privacy Statement</a> </li>
    <li class="message abuse">
    
            <a id="ctl00_footer_fragment_1402503690__da3c65_ctl00_ctl00_ctl01_lnkAbuse" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$footer_fragment_1402503690$_da3c65$ctl00$ctl00$ctl01$lnkAbuse&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Report Abuse</a>
        
    </li>
    
</ul></div><div class="footer-fragment omniture-footer-fragment" id="footer-fragment-1402503691">


<script type="text/javascript" src="http://blogs.msdn.com/utility/js/omni_rsid_msdn_current.js"></script>
        <noscript><a href="http://www.omniture.com" title="Web Analytics"><img
        src="http://msstomsdnblogs.112.2O7.net/b/ss/msstomsdnblogs/1/H.20.2--NS/0"
        height="1" width="1" border="0" alt="" /></a></noscript>

</div></div>
<div class="footer-fragments-footer"></div>
		
<script type="text/javascript">
//<![CDATA[
    var Page_Validators = new Array(document.getElementById("ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_Validator"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
    var ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_Validator = document.all ? document.all["ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_Validator"] : document.getElementById("ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_Validator");
    ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_Validator.display = "Dynamic";
    ctl00_content_ctl00_w_54773__da3c65_ctl00_ctl01_ctl01_Validator.evaluationfunction = "CustomValidatorEvaluateIsValid";
//]]>
</script>

<script type="text/javascript">
// <![CDATA[
    ctl00_content_ctl00 = new ContentFragmentPageCustomCallback('ctl00_content_ctl00', new Function('mode', 'parameters', 'callback', 'errorCallback', 'context', 'ctl00_content_ctl00_ctl00._doCallback(mode+\':\'+parameters,callback,context,errorCallback);'));
// ]]>
</script>
<!--
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
<rdf:Description
rdf:about="http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx"
dc:identifier="http://blogs.msdn.com/b/mattwrock/archive/2011/09/10/adopt-requestreduce-and-see-immediate-yslow-and-google-page-speed-score-improvements-not-to-mention-a-faster-site.aspx"
dc:title="Adopt RequestReduce and see immediate Yslow and Google Page Speed score improvements not to mention a faster site!"
trackback:ping="http://blogs.msdn.com/b/mattwrock/trackback.ashx?WeblogPostID=10208993" />
</rdf:RDF>
-->
<script type="text/javascript">
// <![CDATA[
    Telligent_Modal.Configure('\/utility\/loading.htm', ['modal'], ['modal-title', 'modal-title-2', 'modal-title-3', 'modal-title-4'], ['modal-close'], ['modal-content', 'modal-content-2'], ['modal-footer', 'modal-footer-2', 'modal-footer-3'], ['modal-resize'], ['modal-mask'], 10000, false, true, true);
// ]]>
</script><script type="text/javascript">
// <![CDATA[
             window.ctl00_content_ctl00_ctl00 = new Telligent_CallbackManager('ctl00_content_ctl00_ctl00', 'ctl00$content$ctl00$ctl00', 'aspnetForm');
// ]]>
</script>
<script type="text/javascript">
//<![CDATA[

    var Page_ValidationActive = false;
    if (typeof (ValidatorOnLoad) == "function") {
        ValidatorOnLoad();
    }

    function ValidatorOnSubmit() {
        if (Page_ValidationActive) {
            return ValidatorCommonOnSubmit();
        }
        else {
            return true;
        }
    }
        //]]>
</script>
</form>
      
    <script type="text/javascript">
        $(window).load(function () {
            $.getScript('http://widgets.membership.microsoft.com/v1/loader.js?brand=msdn&lang=en-US', function () {
            });
        });
    </script>
    
	
        <script type="text/javascript">            $('div.breadcrumb-list span:last a').addClass('last');</script></body>
</html>
