<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RequestReduce" type="RequestReduce.Configuration.RequestReduceConfigSection, RequestReduce"/>
  </configSections>
  <RequestReduce spriteVirtualPath="/RRContent" />
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RequestReduce" type="RequestReduce.Module.RequestReduceModule, RequestReduce, Version=1.0.0.0, Culture=neutral"/>
    </modules>
  </system.webServer>
</configuration>