<?xml version="1.0" encoding="utf-8"?>
<!-- -->
<configuration>
  <configSections>
    <section name="RequestReduce" type="RequestReduce.Configuration.RequestReduceConfigSection, RequestReduce" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="RRConnection" connectionString="Data Source=|DataDirectory|RequestReduce.sdf;Version=3;New=True" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <RequestReduce spriteVirtualPath="~/RRContent" connectionStringName="RRConnection" authorizedUserList="anonymous" contentStore="LocalDiskStore" storePollInterval="-1" />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <!--<trust level="Medium" />-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RequestReduce" type="RequestReduce.Module.RequestReduceModule, RequestReduce" />
    </modules>
    <handlers>
      <add name="demo" verb="GET" path="Demo.axd" type="RequestReduce.SampleWeb.Demo, RequestReduce.SampleWeb" />
    </handlers>
    <caching enabled="false" enableKernelCache="false" />
  </system.webServer>
  <location path="Scripts/nearFuture.js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="Styles/secure">
    <system.web>
      <authentication mode="Windows" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true">
        <remove name="RequestReduce" />
      </modules>
      <handlers>
        <remove name="demo" />
      </handlers>
      <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
  </location>
</configuration>